<div class="bg-yellow-400">
  <div class="overflow-hidden sm:grid sm:grid-cols-5 lg:gap-4">
    <div class="col-span-3 pt-10 pb-12 px-3 sm:pl-16 md:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:pl-24 xl:pr-16">
      <div class="lg:self-center">
        <h2 class="standardtitel">{{ meta[locale].cta2.title }}</h2>
        <p class="mt-4 standardtext">{{ meta[locale].cta2.text }}</p>
        <a
          href="{{ cta2.btnLink }}"
          class="buttonhover mt-8 bg-red-600 border border-transparent rounded-md shadow-sm px-6 py-2 inline-flex items-center text-base font-semibold text-white hover:text-white no-underline"
        >
          {{ meta[locale].cta2.btnText }}</a
        >
      </div>
    </div>
    <div class="hidden sm:block col-span-2 w-full h-full relative bg-yellow-400 overflow-hidden">
      {%
        Picture meta[locale].cta2.image, "bg-gray-200", "transform translate-x-6 translate-y-6 rounded-lg object-cover
        object-left-top sm:translate-x-16 lg:translate-y-20 grayimg absolute inset-0 w-full h-full ", meta[locale].cta2.alt or "", "lazy"
      %}
    </div>
  </div>
</div>
