<div class="absolute inset-0">
	<img
		class="h-full w-full object-cover fade-in"
		src="/assets/images/bg/{{ bgimg.url }}"
		alt="{{ bgimg.alt }}"
		width="{{ bgimg.width }}"
		height="{{ bgimg.height }}"
	/>
	<div
		class="absolute inset-0 bg-gradient-to-b from-blue-50 to-blue-100"
		style="mix-blend-mode: multiply"
	></div>
</div>
