<div class="flex flex-col md:flex-row relative mt-16">
	<div
		class="
			p-3
			sm:px-16
			md:px-3
			mb-2
			md:mb-0
			rounded-r-md
			bg-gray-50
			lg:bg-transparent
			relative
			flex
			md:w-5/7
			xl:w-1/3
			mr-5
			md:mr-2
			xl:mr-12
		"
	>
		<div class="flex items-center justify-center">
			<div class="mb-3 xl:mb-0 lg:ml-12 lg:pl-2 2xl:ml-20 mx-auto">
				<h1 class="standardtitel mt-4 mb-6 2xl:mb-8 text-gray-900">
					{{ herogrid.title }}
				</h1>
				<div class="standardtext">
					<p>
						{{ herogrid.text }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="lg:w-full xl:w-4/7 pr-10 sm:pr-16 md:pr-0">
		<div class="grid grid-rows-2 grid-flow-col gap-4 justify-items-end">
			<div
				class="
					row-span-1
					bg-gradient-to-r
					from-yellow-100
					to-yellow-400
					rounded-xl
					h-48
					w-full
					relative
				"
			>
				<img
					class="
						rounded-xl
						absolute
						inset-0
						w-full
						h-full
						object-cover
						mix-blend-overlay
					"
					alt="{{ herogrid.images.alt1 }}"
					src="/assets/images/events/{{ herogrid.images.featured1 }}"
				/>
			</div>

			<div
				class="
					col-span-3
					bg-gradient-to-tr
					from-yellow-200
					via-orange-400
					to-red-500
					rounded-xl
					h-48
					w-11/12
					relative
				"
			>
				<img
					class="
						rounded-xl
						absolute
						inset-0
						w-full
						h-full
						object-cover
						mix-blend-overlay
					"
					alt="{{ herogrid.images.alt2 }}"
					src="/assets/images/events/{{ herogrid.images.featured2 }}"
				/>
			</div>

			<div
				class="
					row-span-1
					col-span-2
					bg-gradient-to-tr
					from-yellow-400
					to-red-500
					rounded-xl
					h-48
					w-full
					relative
				"
			>
				<img
					class="
						rounded-xl
						absolute
						inset-0
						w-full
						h-full
						object-cover
						mix-blend-overlay
					"
					alt="{{ herogrid.images.alt3 }}"
					src="/assets/images/events/{{ herogrid.images.featured3 }}"
				/>
			</div>

			<div
				class="
					mt-6
					row-start-1 row-end-3
					bg-gradient-to-r
					from-red-500
					to-red-700
					rounded-xl
					h-72
					w-full
					relative
				"
			>
				<img
					class="
						rounded-xl
						absolute
						inset-0
						w-full
						h-full
						object-cover
						mix-blend-overlay
					"
					alt="{{ herogrid.images.alt4 }}"
					src="/assets/images/events/{{ herogrid.images.featured4 }}"
				/>
			</div>
		</div>
	</div>
</div>
