<div class="absolute h-144 transform md:-translate-y-44 lg:-translate-y-36">
  <div class="flex flex-col md:flex-row relative">
    <div
      class="
        p-3
        sm:px-16
        md:px-3
        mb-2
        md:mb-0
        rounded-r-md
        bg-gray-50
        lg:bg-transparent
        relative
        flex
        md:w-5/7
        xl:w-1/3
        mr-5
        md:mr-2
        xl:mr-12
      "
    >
      <div class="flex items-end justify-center">
        <div
          class="
            mb-3
            xl:mb-0
            lg:ml-12 lg:pl-2
            2xl:ml-24
            mx-auto
            lg:row-start-1 lg:col-start-1
            mt-10
            md:mt-40
            lg:mt-48
          "
        >
          <span
            class="
              text-xs
              xl:text-sm
              2xl:text-base
              leading-6
              text-gray-100
              font-bold
              tracking-wider
              uppercase
            "
          >
            <span class="text-red-600 font-bold">{{ herotext.badge }}</span>
          </span>
          <h1 class="standardtitel mb-6 2xl:mb-8 text-gray-900">
            {{ herotext.title }}
          </h1>
          <div class="standardtext">
            <p>
              {{ herotext.content }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-full xl:w-4/7 pr-10 sm:pr-16 md:pr-0">
      {% Picture heroimg.url, "bg-transparent", " h-56 rounded-tr-xl
      md:rounded-tr-none md:h-full w-full object-cover fade-in md:rounded-b-lg",
      heroimg.alt, "eager" %}
    </div>
    <div
      class="
        absolute
        transform
        -rotate-90
        bottom-32
        md:bottom-36
        -right-32
        sm:-right-28
        md:-right-32
        lg:-right-28
        xl:-right-24
        2xl:-right-20
        flex
        items-end
        justify-end
        text-sm
        md:z-10
      "
    >
      <p
        class="
          flex
          font-semibold
          items-center
          justify-center
          bg-gray-50
          rounded-md
          px-1
          xl:bg-transparent
        "
      >
        {# Display Social icons from _data/social.json #} {% for site in social
        %} {% if site.url %}
        <a
          tabindex="-1"
          aria-label="Link to {{ site.platform }}"
          alt="Link to {{ site.platform }}"
          class="
            transition
            duration-100
            ease-in-out
            transform
            px-1
            hover:scale-105 hover:rotate-90
            text-black
            hover:text-red-500
          "
          href="{{ site.url | url }}"
          target="_blank"
          rel="noopener"
        >
          {% svg site.platform, "h-5 w-5 fill-current", site.platform, "aside"
          %}
        </a>
        {% endif %} {% endfor %} <span class="ml-3">@fundaciongoethe</span>
      </p>
    </div>
  </div>
</div>
