<div class="pt-16 pb-5 px-4 sm:px-6 lg:pt-20 lg:px-24">
	<div class="relative mx-auto">
		<div class="text-center">
			<h2 class="standardtitel text-gray-900">{{ meta[locale].newsTitle }}</h2>
			<p class="standardtext mt-3 max-w-2xl mx-auto sm:mt-4">
				{{ meta[locale].newsExcerpt }}
			</p>
		</div>

		<section class="mt-12">
			<div class="relative pb-20">
				<div class="relative mx-auto max-w-7xl">
					<div
						class="
							grid
							gap-8
							mx-auto
							mt-12
							md:grid-cols-2
							lg:grid-cols-3
							lg:max-w-none
						"
					>
						{% set postslist = collections["posts_" + locale] %} {# startnews #}
						{% set postslist = postslist | reverse %} {% for post in
						postslist.slice(0, 3) %} {% include "components/postslistcards3.njk"
						%} {%- endfor -%}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
