<div
	class="
		hidden
		sm:block
		shadow-md
		px-4
		pb-16
		rotate-3
		text-gray-50
		font-semibold
		absolute
		bg-red-600
		top-0
		right-0
		transform
		[
		sm:pt-52
		sm:w-44
		sm:-translate-x-5
		][
		md:w-52
		][
		lg:w-64
		lg:-translate-x-16
		][
		xl:pt-56
		xl:w-72
		xl:-translate-x-24
		][
		2xl:w-80
		2xl:-translate-x-32
		]
		-translate-y-4
	"
>
	{{ pinkbox.text | safe }}
</div>
