<section class="mt-12">
  <div class="relative pb-20">
    <div class="relative mx-auto max-w-7xl">
      <div class="grid gap-8 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
        {% for post in postslist | reverse %}

        <div class="card relative buttonhover flex flex-col overflow-hidden rounded-md border">
          <div class="flex-shrink-0">
            <a href="{{ post.url | url }}">
              <!-- if featured image -->
              {% if post.data.images.featured %} {% Picture post.data.images.featured,"bg-gray-100", " object-cover
              grayimg w-full h-40", post.data.images.alt or post.data.title, "lazy", "(min-width: 769px) 50vw,
              (min-width: 1025px) 30vw, 100vw" %}
              <!-- else fallback -->
              {% else %} {% Picture "./src/assets/images/blog/blog-fallback.jpg","bg-gray-100", " object-cover grayimg
              w-full h-40", "Blog Fundación Goethe", "lazy", "(min-width: 769px) 50vw, (min-width: 1025px) 30vw, 100vw"
              %} {% endif %}

              <div class="absolute inset-0" style="mix-blend-mode: multiply"></div>
            </a>
          </div>

          <div class="flex flex-col justify-between flex-1 p-4">
            <div class="flex tracking-wide uppercase text-xs font-bold text-red-700">
              {{ post.data.topic }}
            </div>

            <h2 class="text-base font-bold text-gray-900 mt-2">
              {{ post.data.title }}
            </h2>

            <p class="prose mt-3">
              {{ post.data.excerpt }}
            </p>

            <div class="flex items-center mt-12 uppercase justify-between text-xs font-bold">
              <div class="flex leading-5">
                <time datetime="{{ post.date | date('YYYY-MM-DD') }}">
                  {{ post.date | date("Do MMMM yyyy", locale) }}</time
                >
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>
