<div class="relative mx-auto max-w-4xl bg-gray-50">
  {% if sponsorlist.title %}
  <div class="{{ sponsorlist.direction or 'text-center' }}">
    <h2 class="standardtitel text-gray-900">{{ sponsorlist.title }}</h2>
    <p class="standardtext mt-3 sm:mt-4 mx-auto max-w-2xl">
      {{ sponsorlist.text }}
    </p>
  </div>
  {% endif %}

  <div
    class="mt-6 grid gap-0.5 {{ sponsorlist.grids or 'grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7' }} lg:mt-8"
  >
    <!-- get current locale from meta.languages -->
    {% set sponsors = collections["sponsors_" + locale] %} {% for sponsor in sponsors %}

    <figure>
      <a
        href="{{ sponsor.url }}"
        class="buttonhover col-span-1 flex justify-center py-4 px-4 grayscale hover:grayscale-0 opacity-60 hover:opacity-100"
      >
        <!-- picture shortcode gr -->
        {% Picture sponsor.data.images.logo, "bg-transparent", "object-cover grayimg ", sponsor.data.title, "lazy",
        "(min-width: 60rem) 170px, 20vw" %}
      </a>
    </figure>

    {%- endfor -%}
  </div>
</div>
