{% for tag in tags %} {% if not loop.first %}
<div class="inline-block pr-2 mb-2">
	<a
		alt="tagged {{ tag }}"
		aria-label="tagged {{ tag }}"
		href="/{{ locale }}/tags/{{ tag | slug }}/"
		class="
			no-underline
			text-xs text-orange-500
			hover:text-orange-600
			pr-2
			uppercase
			tracking-wide
			hover:underline
			font-semibold
		"
		>{{ tag }}</a
	>
</div>
{% endif %} {% endfor %}
