<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Event",
		"location": {
			"@type": "Place",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "{{ event.data.location }}"
			},
			"name": "{{ event.data.location }}"
		},
		"name": "{{ event.data.title }}",
		"description": "{{ event.data.description }}",
		"startDate": "{{ event.data.date  }}",
		"endDate": "{{ event.data.ending  }}",
		"performer": "{{ event.data.artist  }}"
	}
</script>
