<ul role="list" class="sm:grid sm:grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-3 2xl:grid-cols-4">
  <!-- loop -->
  {% for venue in venues %}

  <li class="card relative truncate buttonhover">
    <div
      class="group block w-full aspect-square rounded-md bg-gray-100 overflow-hidden motion-reduce:transition-none motion-reduce:transform-none buttonhover"
    >
      <!-- picture shortcode -->
      {% Picture venue.data.images.featured, "w-full aspect-square", "grayimg absolute inset-0 w-full h-full
      object-cover", venue.data.images.alt, "eager", "(min-width: 640px) 360px, 640px" %}

      <span class="sr-only"> {{ meta[locale].event.readmore }} {{ venue.data.title }}</span>
    </div>

    <h2 class="mt-2 block text-base font-semibold truncate uppercase">
      <a class="no-underline hover:underline" href="{{ venue.url }}">{{ venue.data.title }}</a>
    </h2>
    <p class="block text-xs text-orange-500 font-semibold tracking-wide uppercase">
      {{ venue.data.city }}
    </p>
  </li>

  {%- endfor -%}
</ul>
