<div x-data="sortableList('random', 'nameArtist')">
  <div class="mb-6 flex flex-col sm:flex-row sm:items-center gap-3">
    <p class="text-sm font-semibold text-gray-600">{{ meta[locale].ordering.orderBy }}</p>
    <div class="flex gap-3">
      <button
        @click="sortBy('random')"
        :class="activeSort === 'random' ? 'bg-black text-white' : 'bg-gray-200 text-black'"
        class="text-xs px-3 py-1  rounded-sm hover:bg-gray-900 hover:text-white"
      >
        {{ meta[locale].ordering.random }}
      </button>
      <button
        @click="sortBy('nameArtist')"
        :class="activeSort === 'nameArtist' ? 'bg-black text-white' : 'bg-gray-200 text-black'"
        class="text-xs px-3 py-1 rounded-sm hover:bg-gray-900 hover:text-white"
      >
        {{ meta[locale].ordering.nameArtist }}
      </button>
      <button
        @click="sortBy('discipline')"
        :class="activeSort === 'discipline' ? 'bg-black text-white' : 'bg-gray-200 text-black'"
        class="text-xs px-3 py-1 rounded-sm hover:bg-gray-900 hover:text-white"
      >
        {{ meta[locale].ordering.type }}
      </button>
    </div>
  </div>

  <ul role="list" class="sm:grid sm:grid-cols-2 gap-x-4 gap-y-8 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    {% for artist in artists %}
      <li
        class="card relative buttonhover"
        x-bind:data-nameArtist="'{{ artist.data.title | lower }}'"
        x-bind:data-discipline="'{{ artist.data.occupation | lower }}'"
      >
        <div class="group block w-full aspect-square rounded-md bg-gray-100 overflow-hidden buttonhover">
          {% set loadingType = "lazy" %}
          {% if loop.index <= 2 %}
            {% set loadingType = "eager" %}
          {% endif %}
          {%
            Picture artist.data.images.featured,
            "w-full aspect-square",
            "grayimg w-full h-full aspect-square object-cover",
            artist.data.images.alt,
            loadingType,
            "(min-width: 640px) 360px, 640px"
          %}
          <span class="sr-only"> {{ meta[locale].event.readmore }} {{ artist.data.title }}</span>
        </div>
        <p class="mt-2 block text-sm font-semibold">
          <a class="no-underline hover:underline" href="{{ artist.url }}">{{ artist.data.title }}</a>
        </p>
        <p class="block text-xs text-orange-500 font-semibold tracking-wide uppercase">{{ artist.data.occupation }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
