---
layout: base
tags: pages
---

<!-- Fetch related venue and artist data dynamically -->
{% if venue %}
  {% set venueItems = helpers.filterCollectionByKeys(collections["venues_" + locale], venue) %}
{% else %}
  {% set venueItems = [] %}
{% endif %}

{% if artist %}
  {% set artistItems = helpers.filterCollectionByKeys(collections["artists_" + locale], artist) %}
{% else %}
  {% set artistItems = [] %}
{% endif %}

<main id="main">
  <div class="lg:mt-16 grid grid-flow-row grid-cols-5 grid-rows-1">
    <!-- Event Details Section -->
    <div
      class="col-span-5 md:col-span-3 {% if calendarLinks.isFutureEvent %}bg-yellow-200 md:bg-yellow-300{% else %}bg-gray-200{% endif %} sm:rounded-tr-xl sm:mr-3 md:mr-0 px-3 xl:pl-16 2xl:pl-24 md:pr-12 lg:pr-36 xl:pr-44 py-12"
    >
      {% if calendarLinks.isFutureEvent %}
        <span class="text-sm text-red-600 font-bold tracking-wide uppercase">
          {{ date | date("Do MMMM yyyy", locale) }}
        </span>
      {% else %}
        <span class="text-sm text-gray-800 bg-red-400 px-2 py-1 rounded-sm font-bold tracking-wide uppercase">
          {{ meta[locale].event.finished }}
        </span>
      {% endif %}

      <h1 class="standardtitel uppercase mt-2">{{ title }}</h1>

      {% if infobox and calendarLinks.isFutureEvent %}
        {% include "components/event-infobox.njk" %}
      {% endif %}

      <div class="standardtext mt-8 prose">{{ content | safe }}</div>
    </div>

    <!-- Event Sidebar Section -->
    <div
      class="col-span-5 transform py-4 px-3 bg-black text-white sm:rounded-t-2xl sm:py-10 sm:ml-3 sm:-mt-6 md:ml-0 md:mt-20 md:col-span-2 md:-translate-x-8 lg:ml-2 xl:ml-1 lg:-translate-x-28 xl:py-12 xl:px-8 2xl:-translate-x-32 2xl:ml-0"
    >
      {% include "partials/event-sidebar.njk" %}
    </div>
  </div>

  <!-- Dynamically Include Artist and Venue Sections -->
  {% include "partials/event-artist.njk" %}
  {% include "partials/event-venue.njk" %}

  <!-- Partners Section -->
  {% include "partials/event-partners.njk" %}
</main>

<!-- Include Schema -->
{%- include "schemas/event-schema.njk" %}
