---
layout: base
tags: pages
---

<main id="main" class="block">
	<div class="relative">
		<article class="py-10 md:py-0 lg:py-16 px-3 sm:px-6 xl:px-16 2xl:px-24">
			{{ content | safe }}
		</article>
	</div>
</main>

<!-- include base schema  -->
{%- include "schemas/page-schema.njk" %}
