---
layout: home
---

<div class="mx-auto max-w-2xl text-gray-900 mb-10 lg:mt-16">
	{% if images.featured %}
	<figure class="h-full w-full fade-in">
		<div class="mx-auto max-w-4xl relative">
			{% Picture images.featured,"", "lazy w-full h-auto grayimg md:rounded-md",
			images.alt %}

			<div
				class="absolute inset-0 bg-gradient-to-b from-gray-50 to-orange-50"
				style="mix-blend-mode: multiply"
			></div>
		</div>
	</figure>
	{% endif %}

	<div
		class="text-right text-xs uppercase flex justify-end font-bold mr-5 mt-2"
	>
		<time datetime="{{ date | datetime }}">
			{{ date | date("dddd, Do MMMM yyyy", locale) }}</time
		>
	</div>

	<h1 class="standardtitel px-3 sm:px-6 py-6">
		{{ title }}
	</h1>

	<div class="prose prose-red px-3 sm:px-6">
		{{ content | safe }}
	</div>

	<!-- import gallery if there is gallery  -->

	{% if gallery %}

	<div class="px-3 sm:px-6 mt-10">
		<h2 class="standardtitel mb-4">{{ meta[locale].gallery }}</h2>

		<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:grid-cols-3">
			{% for item in gallery %} {% Picture item.image,"aspect-w-5 aspect-h-3
			md:aspect-w-4 md:aspect-h-4", "object-cover filter grayscale rounded-md",
			title %} {%- endfor -%}
		</div>
	</div>
	{%- endif -%}

	<!-- Previous and Next -->

	<div
		class="
			mt-12
			px-3
			sm:px-6
			mx-auto
			max-w-lg
			md:flex-row md:flex md:justify-between
		"
	>
		{% set previousPost = collections.noticia | getPreviousCollectionItem(page)
		%} {% set nextPost = collections.noticia | getNextCollectionItem(page) %}

		<div
			class="
				py-2
				text-left
				sm:py-0
				text-xs
				uppercase
				font-semibold
				text-red-500
			"
		>
			{% if previousPost %}
			<a class="flex items-center" href="{{ previousPost.url }}">
				{% svg "arrow-left", "w-6 h-6 mr-1 transition duration-200 ease-in-out
				transform hover:-translate-x-1", "flecha" %}
				{{ previousPost.data.title }}</a
			>
			{% endif %}
		</div>

		<div
			class="
				py-2
				text-right
				sm:py-0
				text-xs
				uppercase
				font-semibold
				text-red-500
			"
		>
			{% if nextPost %}
			<a class="flex items-center" href="{{ nextPost.url }}"
				>{{ nextPost.data.title }} {% svg "arrow-right", "w-6 h-6 rounded-full
				ml-1 transition duration-200 ease-in-out transform hover:translate-x-1",
				"flecha" %}
			</a>
			{% endif %}
		</div>
	</div>
</div>

<!-- include blogpost schema  -->
{%- include "schemas/blogpost-schema.njk" %}
