---
layout: base
tags: pages
---

<main id="main" class="block">
  <div class="relative">
    <article class="mb-10">
      <div class="px-3 sm:pl-16 xl:ml-40 2xl:ml-44 mt-8 xl:mt-16 py-8 rounded-tl-lg">
        <h1 class="2xl:ml-64 text-xl lg:text-2xl xl:text-4xl font-semibold uppercase">{{ title }}</h1>
        <h2 class="2xl:ml-64 text-base uppercase font-semibold mt-2 text-gray-700">
          {{ meta[locale].sponsorSince }} {{ since }}
        </h2>
      </div>

      <div class="bg-gray-200 px-3 pt-10 pb-16 2xl:px-44 flex items-center flex-col sm:flex-row">
        <div class="w-full sm:w-1/3 mb-8 sm:mb-0 rounded-md">
          <!-- picture shortcode -->
          {% Picture images.logo, "rounded-md", "w-full h-auto object-cover", title, "eager" %}
        </div>

        <div class="sm:pl-16 2xl:pl-40 w-full sm:w-2/3">
          <article class="my-5">{{ excerpt }} {{ content | safe }}</article>

          <!-- social links -->
          {%- include "partials/social-links.njk" %}
        </div>
      </div>

      <!-- gallerie if image 1 defined in frontmatter  -->
      {% if images.featured1 %}
        <ul role="list" class="grid sm:grid-cols-2 md:grid-cols-4">
          <li class="relative block w-full aspect-video">
            <!-- picture shortcode -->
            {%
              Picture images.featured1, "bg-gray-200", "absolute inset-0 w-full h-full object-cover ", images.alt1,
              "lazy"
            %}
          </li>
          {% if images.featured2 %}
            <li class="relative block w-full aspect-video">
              <!-- picture shortcode -->
              {%
                Picture images.featured2, "bg-gray-200", "absolute inset-0 w-full h-full object-cover ", images.alt2,
                "lazy"
              %}
            </li>
          {% endif %}
          {% if images.featured3 %}
            <li class="relative block w-full aspect-video">
              <!-- picture shortcode -->
              {%
                Picture images.featured3, "bg-gray-200", "absolute inset-0 w-full h-full object-cover ", images.alt3,
                "lazy"
              %}
            </li>
          {% endif %}
          {% if images.featured4 %}
            <li class="relative block w-full aspect-video">
              <!-- picture shortcode -->
              {%
                Picture images.featured4, "bg-gray-200", "absolute inset-0 w-full h-full object-cover ", images.alt4,
                "lazy"
              %}
            </li>
          {% endif %}
        </ul>
      {% endif %}

      <!-- insert all sponsors  -->
      {% include "components/sponsorlist.njk" %}
    </article>
  </div>
</main>

<!-- include base schema  -->
{%- include "schemas/page-schema.njk" %}
