---
layout: home
tags: pages
---

<div class="overflow-hidden">
  <div class="relative mx-auto py-10 md:pt-0 lg:py-16 px-3 xl:px-16 2xl:px-24">
    <div class="hidden lg:block bg-gray-200 rounded-tl-lg absolute top-1 bottom-0 left-3/4 w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        <span class="text-sm text-orange-500 font-bold tracking-wide uppercase mb-2"> {{ city }} </span>

        <h1 class="standardtitel uppercase">{{ title }}</h1>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <!-- picture shortcode -->
            {% Picture images.featured, "bg-gray-200", "fade-in-bottom aspect-video lg:aspect-auto w-full rounded-lg object-cover", images.alt, "eager", "(min-width: 1024px) 50vw, 100vw" %}

            {% if images.credit %}
              {% include "components/image-credit.njk" %}
            {% endif %}
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p class="text-lg text-black font-semibold">{{ excerpt }}</p>
        </div>
        <div class="my-5 prose prose-indigo text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          {{ content | safe }}
        </div>

        <!-- social links -->
        {%- include "partials/social-links.njk" %}
      </div>
    </div>
  </div>

  <!-- CTA -->
  {% include "components/cta2.njk" %}
</div>
