---
layout: home
tags: pages
---

<div class="overflow-hidden">
  <div class="relative mx-auto py-10 md:pt-0 lg:py-16 px-3 xl:px-16 2xl:px-24">
    <div
      class="
        hidden
        lg:block
        bg-gray-200
        rounded-tl-lg
        absolute
        top-1
        bottom-0
        left-3/4
        w-screen
      "
    ></div>
    <div
      class="
        mx-auto
        text-base
        max-w-prose
        lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none
      "
    >
      <div>
        <span
          class="text-sm text-orange-500 font-bold tracking-wide uppercase mb-2"
        >
          {{ city }}
        </span>

        <h1 class="standardtitel uppercase">
          {{ title }}
        </h1>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <!-- picture shortcode -->
              {% Picture images.featured, "aspect-w-12 aspect-h-7
              lg:aspect-none", "fade-in-bottom rounded-lg shadow object-cover
              object-center filter grayscale", images.alt, "eager" %}
            </div>
            {% if images.credit %}
            <figcaption
              class="
                pr-3
                flex
                transform
                -translate-y-10
                text-sm
                py-1
                pl-3
                sm:pl-6
              "
            >
              <!-- Heroicon name: solid/camera -->
              <svg
                class="flex-none w-5 h-5 text-gray-500 bg-gray-50 opacity-80"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="px-1 bg-gray-50 opacity-80">
                {{ images.credit }}
              </span>
            </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p class="text-lg text-black font-semibold">{{ excerpt }}</p>
        </div>
        <div
          class="
            my-5
            prose prose-indigo
            text-gray-500
            mx-auto
            lg:max-w-none lg:row-start-1 lg:col-start-1
          "
        >
          {{ content | safe }}
        </div>

        <!-- social links -->
        {%- include "partials/social-links.njk" %}
      </div>
    </div>
  </div>
</div>
