---
title: ¡Bienvenido!
description: El registro se ha realizado con éxito. A partir de ahora recibirás invitaciones para eventos seleccionados.
layout: plain
permalink: '/{{ locale }}/bienvenido/index.html'
translationKey: 'success'
eleventyExcludeFromCollections: true
---

<div class="flex items-center justify-center w-full lg:min-h-0">
  <div class="flex flex-col lg:flex-row lg:space-x-16 lg:space-x-reverse justify-center items-center">
    <div class="lg:w-1/2 px-2 text-sm md:text-base lg:px-0">
      <h1 class="standardtitel">¡Bienvenido!</h1>

      <p class="standardtext mt-2">
        El registro se ha realizado con éxito. A partir de ahora recibirás invitaciones para eventos seleccionados.
      </p>
    </div>

    <div class="lg:w-1/2 py-8">{%- include "shared/selfie.svg" %}</div>
  </div>
</div>
