---
title: Sobre la Fundación Goethe
layout: home
permalink: '/{{ locale }}/sobre-nosotros/index.html'
translationKey: 'about'
contentcolor: bg-gray-50
seo:
  title: Sobre la Fundación Goethe
  description: La Fundación Goethe promueve las relaciones culturales hispano-alemanas y apoya a músicos y artistas alemanes y españoles.
  image: social/sobre-header.jpg
sponsorlist:
  direction: text-left
  grids: grid-cols-3 sm:grid-cols-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5
  title: Nuestros Promotores
  regular: Promotores
  premium: Promotores Premium
  text: Nuestros promotores son, sin duda alguna, el eje central de la Fundación Goethe. Tenemos la suerte de contar desde hace años con la colaboración de reconocidas marcas de gran prestigio mundial.
yearbook:
  title: Anuarios de la Fundación Goethe
  text: En nuestros anuarios presentamos una visión general de todos los eventos del año pasado. Descargate los anuarios de los anos pasados en formato Archivo PDF.
partnerlist:
  title: Partners
  text: Muchos de los eventos que organizamos desde la Fundación Goethe no serían posible sin la colaboración de nuestros partners.
partners:
  - patrimonio
  - mies
  - jorgerando
  - ahk
  - carlosamberes
  - lenesaile
  - dsb
  - sixt
  - dsm
  - thyssen
  - sanjuan
  - sanmiguel
cta:
  mainText: Forma parte de la Fundación	Goethe como Promotor
  subText: ...o bien promociona eventos puntuales bajo tu patrocinio.
  btnText: Informate de las opciones.
  btnLink: /es/participar/
---

<div class="relative mx-auto lg:pt-16">
  <ul class="max-w-md mx-auto px-3 sm:px-6 md:hidden divide-y divide-gray-300 mt-10 text-sm font-semibold mb-2">
    <li class="py-2">
      <a href="#patronato" class="block no-underline pr-2 text-gray-900"> Patronato</a>
    </li>

    <li class="py-2">
      <a href="#sponsors" class="block no-underline pr-2 text-gray-900"> Promotores</a>
    </li>

    <li class="py-2">
      <a href="#filosofia" class="block no-underline pr-2 text-gray-900"> Filosofía</a>
    </li>

    <li class="py-2">
      <a href="#historia" class="block no-underline pr-2 text-gray-900"> Historia</a>
    </li>

    <li class="py-2">
      <a href="#anuarios" class="block no-underline pr-2 text-gray-900"> Anuarios</a>
    </li>

    <li class="py-2">
      <a href="#partners" class="block no-underline pr-2 text-gray-900"> Partners</a>
    </li>
  </ul>

  <div class="flex flex-col md:flex-row">
    <div class="mr-3 md:mr-0 md:w-5/12 bg-gray-200 rounded-tr-lg rounded-br-lg py-12 z-10">
      <div class="px-3 sm:px-6 xl:pl-16 2xl:pl-24 md:pr-12">
        <h1 id="patronato" class="standardtitel">Patronato</h1>
        <p class="standardtext mt-4">
          El Patronato es el órgano de gobierno y representación de la Fundación. Sus miembros se encargan de establecer
          las actividades que ha de desarrollar, aprobar los presupuestos y las cuentas anuales y fijar los criterios de
          actuación.
        </p>
      </div>

      <div class="flex flex-col sm:flex-row md:flex-col mt-10 xl:mt-16 mr-3 md:mr-16">
        <!-- brem -->
        <div class="w-full md:space-y-4 md:-mb-6 mr-3">
          <div class="w-full aspect-[5/3] relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/josef-brem-1.jpg", "w-full aspect-[5/3]", "grayimg absolute inset-0
            w-full h-full object-cover", "Josef Brem", "lazy" %}
          </div>

          <div
            class="py-1 lg:py-2 transform -translate-y-10 lg:-translate-y-16 space-y-2 bg-white rounded-md border w-56 2xl:w-72 mx-auto"
          >
            <div class="leading-6 text-center text-lg">
              <h3 class="mb-2 font-semibold">Josef Brem</h3>
              <p class="text-red-600 text-sm font-semibold uppercase">Presidente</p>
              <p class="text-gray-500 text-sm">desde 2019</p>
            </div>
          </div>
        </div>

        <!-- minet -->
        <div class="w-full md:space-y-4 md:mt-1 -mb-5">
          <div class="w-full aspect-[5/3] relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/wolfgang-minet-1.jpg", "bg-gray-200", "grayimg absolute inset-0 w-full
            h-full object-cover", "Wolfgang Minet", "lazy" %}
          </div>

          <div
            class="py-1 lg:py-2 transform -translate-y-10 lg:-translate-y-16 space-y-2 bg-white rounded-md border w-56 2xl:w-72 mx-auto"
          >
            <div class="leading-6 text-center text-lg">
              <h3 class="mb-2 font-semibold">Wolfgang Minet</h3>
              <p class="text-red-600 text-sm font-semibold uppercase">Presidente de honor</p>
              <p class="text-gray-500 text-sm">Presidente 2001 - 2019</p>
            </div>
          </div>
        </div>
      </div>

      <!-- small patrons -->
      <div class="space-y-6 my-10">
        <!-- Dirk Budach -->
        <div class="flex items-center space-x-4 lg:space-x-6 px-3 xl:pl-16 2xl:pl-24">
          <div class="h-40 w-40 relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/dirk-budach.jpg", "aspect-[4/1]", "grayimg absolute inset-0 w-full
            h-full object-cover rounded-lg", "Dirk Budach", "lazy" %}
          </div>
          <div class="text-lg leading-6 w-2/3">
            <h3 class="mb-2 font-semibold">Dirk Budach</h3>
            <p class="text-red-600 text-sm font-semibold uppercase">Vicepresidente</p>
            <p class="text-gray-500 text-sm">Madrid, desde 2017</p>
          </div>
        </div>

        <!-- Osmar Polo -->
        <div class="flex items-center space-x-4 lg:space-x-6 px-3 xl:pl-16 2xl:pl-24 mb-4">
          <div class="h-40 w-40 relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/osmar-polo.jpg", "aspect-video", "grayimg absolute inset-0 w-full
            h-full object-cover rounded-lg", "Osmar Polo", "lazy" %}
          </div>
          <div class="text-lg leading-6 w-2/3">
            <h3 class="mb-2 font-semibold">Osmar Polo</h3>
            <p class="text-red-600 text-sm font-semibold uppercase">Vicepresidente</p>
            <p class="text-gray-500 text-sm">Barcelona, desde 2021</p>
          </div>
        </div>

        <!-- Kai Fischer  -->
        <div class="flex items-center space-x-4 lg:space-x-6 px-3 xl:pl-16 2xl:pl-24">
          <div class="h-40 w-40 relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/kai-fischer-1.jpg", "aspect-video", "grayimg absolute inset-0 w-full
            h-full object-cover rounded-lg", "Kai Fischer", "lazy" %}
          </div>
          <div class="text-lg leading-6 w-2/3">
            <h3 class="mb-2 font-semibold">Kai Fischer</h3>
            <p class="text-red-600 text-sm font-semibold uppercase">Secretario</p>
            <p class="text-gray-500 text-sm">desde 2009</p>
          </div>
        </div>

        <!-- Claudia Remus -->
        <div class="flex items-center space-x-4 lg:space-x-6 px-3 xl:pl-16 2xl:pl-24">
          <div class="h-40 w-40 relative bg-gray-200 rounded-lg overflow-hidden">
            <!-- picture shortcode -->
            {% Picture "src/assets/images/patrons/claudia-remus.jpg", "aspect-video", "grayimg absolute inset-0 w-full
            h-full object-cover rounded-lg", "Claudia Remus", "lazy" %}
          </div>
          <div class="text-lg leading-6 w-2/3">
            <h3 class="mb-2 font-semibold">Claudia Remus</h3>
            <p class="text-red-600 text-sm font-semibold uppercase">Directora</p>
            <p class="text-gray-500 text-sm">
              desde 2013. Persona de contacto y organizadora de los eventos y actividades.
            </p>
          </div>
        </div>

        <!-- small patrons ende -->
      </div>
    </div>
    <div class="md:w-7/12">
      <div id="sponsors" class="py-12 px-3 sm:px-6 xl:pl-16">
        <!-- sponsors -->
        {% include "components/sponsorlist.njk" %}
      </div>

      <div id="filosofia" class="relative bg-orange-200 md:bg-yellow-300">
        <div class="xl:absolute xl:inset-0">
          <div class="xl:absolute xl:inset-y-0 xl:right-0 xl:w-5/12">
            {% Picture "./src/assets/images/hero/guestaccess-hdr.jpg","bg-gray-100", " h-56 w-full object-cover
            xl:absolute xl:h-full filter grayscale", "Gente hablando y tomando algo en un evento de la Fundación
            Goethe", "lazy" %}
          </div>
        </div>
        <div class="relative pt-12 pb-12 px-3 sm:pt-12 sm:px-6 xl:pl-16 xl:max-w-7xl xl:mx-auto xl:grid xl:grid-cols-2">
          <div class="xl:col-start-1">
            <div class="text-base max-w-prose mx-auto xl:max-w-lg xl:ml-auto xl:mr-0">
              <p class="text-lg text-black font-semibold">
                En la Fundación Goethe promovemos las relaciones hispano-alemanas a nivel cultural y apoyamos con
                nuestras numerosas actividades músicos y artistas alemanes y españoles.
              </p>
              <div class="mt-6 prose text-black">
                <p>
                  Nuestro trabajo permite a los jóvenes actuar en eventos o exponer en lugares emocionantes. Se promueve
                  activamente el talento joven de la escena cultural de ambos países. Los participantes del evento
                  tendrán la oportunidad de intercambiar ideas no sólo entre ellos, sino también con los propios
                  artistas.
                </p>
                <p>
                  La economía hispano-alemana apoya la labor benéfica de la Fundación Goethe con contribuciones anuales
                  deducibles de impuestos. De esta manera, los promotores contribuyen al diálogo cultural entre la
                  República Federal de Alemania y el Reino de España.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="historia" class="bg-orange-100 md:bg-orange-400">
        <div class="text-base mx-auto lg:mr-0 pt-12 pb-28 px-3 sm:px-6 xl:pl-16 md:pr-12">
          <p class="text-lg text-black font-semibold">
            La Fundación Goethe se inauguró el 18 de junio de 2001 en la Residencia del Embajador Alemán en Madrid
          </p>
          <div class="mt-6 prose text-black">
            <p>
              Desde su constitución en 2001 la Fundación Goethe crece continuamente tanto en número de empresas
              participantes, promotores y amigos, como en visibilidad y prestigio, gracias a la realización de una serie
              de eventos de gran atractivo y el apoyo de importantes colaboradores, instituciones y otras fundaciones.
            </p>
            <p>
              Hoy la Fundación está establecida y reconocida en la sociedad hispano-alemana y sigue igual de
              comprometida en fortalecer el diálogo entre las dos culturas, apostando por una sinergia del escenario
              cultural y empresarial.
            </p>
            <p>
              En la Fundación Goethe se unen empresas y empresarios en un compromiso social y cultural único,
              fortaleciendo así su apoyo al intercambio cultural entre España y Alemania.
            </p>
            <p>
              Conscientes de que la economia y la cultura no son mundos distantes sino coincidentes, las empresas
              apuestan por la alianza entre cultura y economía, arte y comercio, en un momento en el que la situación de
              los mercados dinamiza la reflexión sobre nuevos modelos de soporte a la cultura.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- include yearbook -->

  {%- include "shared/about-yearbook.njk" %}
</div>

<!-- partners -->

<div id="partners" class="relative mx-auto max-w-3xl pb-12">{%- include "components/partnerlist.njk" %}</div>


  <!-- CTA -->
  {% include "components/cta.njk" %}