---
title: Aktuelles
layout: home
translationKey: "blog"
seo:
  title: Aktuelles von der Fundaci¡on Goethe
  description: En mi blog escribo sobre mi proyecto. Noticias, prensa, críticas, mis movidas, conciertos, fotos, canciones y vídeos.
pagination:
  data: collections.posts_de
  size: 6
  reverse: true
  alias: posts_de
---

<div class="px-2 sm:px-6 md:px-24 pt-16 pb-20 lg:pt-24 lg:pb-28">
	<div class="relative max-w-7xl mx-auto">
		<div class="text-center">
			<h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
				Aktuelles
			</h2>
			<p class="mt-3 max-w-2xl mx-auto text-base text-gray-700 sm:mt-4">
				In unserer Nachrichtensektion geben wir einen Rückblick auf vergangene
				Veranstaltungen und machen auf besondere Events aufmerksam.
			</p>
		</div>

		{% set postslist = posts_de | reverse %} {% set postlist =
		['components/postslistcards.njk'] %} {% include postlist | join %} {% if
		collections.post.length > pagination.size %} {% include
		"components/pagination.njk" %} {% endif %}
	</div>
</div>
