---
title: Aktuelles
layout: home
translationKey: "blog"
seo:
  title: Aktuelles von der Fundación Goethe
  description: In unserer Nachrichtensektion geben wir einen Rückblick auf vergangene Veranstaltungen und machen auf besondere Events aufmerksam.
pagination:
  data: collections.posts_de
  size: 12
  reverse: true
  alias: posts_de
cta:
  mainText: Werden Sie Teil der Fundación Goethe als Förderer
  subText: ...oder bewerben Sie einzelne Veranstaltungen unter Ihrer Schirmherrschaft!
  btnText: Alle Möglichkeiten kennenlernen
  btnLink: /de/mitmachen/
---

<div
  class="
    relative
    mx-auto
    py-10
    md:pt-0
    lg:py-16
    px-3
    sm:px-6
    xl:px-16
    2xl:px-24
  "
>
  <div class="relative max-w-7xl mx-auto">
    <div class="text-center">
      <h1 class="standardtitel">Aktuelles</h1>
      <p class="standardtext mt-3 sm:mt-4 max-w-2xl mx-auto">
        In unserer Nachrichtensektion geben wir einen Rückblick auf vergangene
        Veranstaltungen und machen auf besondere Events aufmerksam.
      </p>
    </div>

    {% set postslist = posts_de | reverse %} {% include
    "components/postslistcards.njk" %} {% if collections.posts_de.length >
    pagination.size %} {% include "components/pagination.njk" %} {% endif %}
  </div>
</div>

{% include "components/cta.njk" %}