---
title: Einladungen
description: Um Einladungen für unsere Events und Veranstaltungsinfos zu erhalten füllen Sie bitte das Formular aus.
layout: plain
permalink: "/{{ locale }}/einladungen/index.html"
translationKey: "invitations"
contentcolor: bg-gray-100
form:
  label1:
    title: "Persönliche Information"
    text: "Wir fragen nach Ihren Vor- und Nachnamen, um Ihnen Einladungen mit persönlicher Ansprache senden zu können. Es ist jedoch nur die Angabe einer gültigen E-Mail-Adresse erforderlich."
  label2:
    title: "Präferenzen"
    text: "Bitte geben Sie an in welcher Sprache Sie informiert werden möchten und welche Orte für Sie für den Empfang von Einladungen interessant sind. Eine Mehrfachauswahl ist möglich. "
  label3:
    title: "Datenschutz"
    text: "Ihre Daten werden nicht an Dritte weitergegeben. Alle weiteren Informationen können Sie in unserer Datenschutzerklärung nachlesen."
---

<!-- Header -->

<div class="mx-auto md:text-center max-w-2xl pb-10 lg:pb-16">
	<h1 class="standardtitel">Einladungen erhalten</h1>
	<p class="standardtext mt-3 sm:mt-4">
		Um Einladungen für unsere Events und Veranstaltungsinfos zu erhalten füllen
		Sie bitte das Formular aus. Beachten Sie:
		<a class="underline" href="#infos"
			>Wir können leider nicht zu allen Veranstaltungen Einladungen per E-Mail
			versenden</a
		>.
	</p>
</div>

<!-- form -->
{%- include "shared/form-newsletter.njk" %}

<div class="relative mt-16 lg:mt-20 mb-6 mx-auto max-w-3xl">
	<div class="text-base max-w-prose lg:max-w-none">
		<h2 id="infos" class="standardtitel">Über unseren Newsletter</h2>
	</div>
</div>

<div class="relative mx-auto max-w-3xl">
	<div class="lg:grid lg:grid-cols-2 lg:gap-6">
		<div class="prose max-w-none">
			<p>
				<strong
					>Für die Veranstaltungen der Fundación Goethe gibt es ein limitiertes
					Kartenkontingent. Deshalb können wir nicht zu allen Veranstaltungen
					Einladungen versenden: Sie sind in unserer Eventübersicht mit dem
					Label "Privat" markiert.
				</strong>
			</p>
			<p>Förderer erhalten Einladungen zu allen Events der Fundación Goethe.</p>

			<p>
				In den E-Mail-Nachrichten erhalten Sie Einladungen zu den geplanten
				Veranstaltungen sowie einen Link zur direkten Anmeldung. <br />
				Gelegentlich findet auch ein Event mit Kartenverkauf statt oder wir
				machen Sie auf eine besonders empfehlenswerte Veranstaltung aufmerksam,
				die wir nicht selbst organisieren.
			</p>

			<p>
				Es werden keine Werbemaßnahmen durchgeführt. Ihre Daten werden nicht an
				Dritte weitergegeben.
			</p>
		</div>
		<div class="mt-6 prose prose-sm lg:mt-0">
			<ul>
				<li><strong>Verantwortlicher</strong>: FUNDACIÓN GOETHE ESPAÑA</li>
				<li>
					<strong>Zweck</strong>: Übersendung von Informationen bezüglich
					Veranstaltungen, Aktivitäten und Benachrichtigungen der FUNDACIÓN
					GOETHE ESPAÑA sowie ihrer Mitglieder.
				</li>
				<li>
					<strong>Rechtsgrundlage</strong>: Die Einwilligung der betroffenen
					Person sowie das legitime Interesse der Mitglieder.
				</li>
				<li>
					<strong>Aufbewahrung der Daten</strong>: Bis zum Beseitigungsverlangen
					der betroffenen Person. Im Falle der Mitglieder, bis zur Beendigung
					ihrer Beziehung mit der FUNDACIÓN GOETHE ESPAÑA.
				</li>
				<li>
					<strong>Adressaten:</strong> Behörden und Institutionen sowie
					Handlungsbeauftragte der FUNDACIÓN GOETHE ESPAÑA.
				</li>
				<li>
					<strong>Rechte:</strong> Sie haben ein Recht auf Auskunft seitens des
					Verantwortlichen über Ihre personenbezogenen Daten sowie auf
					Berichtigung oder Löschung oder auf Einschränkung der Verarbeitung und
					eines Widerspruchsrechts gegen die Verarbeitung, sowie des Rechts auf
					Datenübertragbarkeit, als auch Ihre Einwilligung widerrufen mittels
					eines schriftlichen Antrags, welcher an die FUNDACIÓN GOETHE ESPAÑA zu
					richten ist:
					<a href="mailto:info@fundaciongoethe.org">info@fundaciongoethe.org</a>
				</li>
				<li>
					<strong>Weitere Informationen:</strong> Sie können weitere
					Informationen bezüglich des Schutzes ihrer Daten und der rechtlichen
					Grundlagen über folgenden Link abrufen:
					<a href="https://www.fundaciongoethe.org/de/datenschutzerklaerung/"
						>Datenschutzerklärung</a
					>
				</li>
			</ul>
		</div>
	</div>
</div>
