---
title: Events
layout: home
permalink: "/{{ locale }}/events/index.html"
translationKey: "events"
seo:
  title: Conciertos
  description: Aquí puedes ver cuándo y dónde tendrán lugar mis próximos conciertos.  Actualmente no hay conciertos. Ojalá de cara al verano podamos estrenar el disco.
herogrid:
  title: Nuestros próximos eventos
  text: En la Fundación Goethe te ofrecemos una amplia gama de eventos únicos. Conciertos, visitas guiadas, exposiciones o excursiones con almuerzo y cata de vinos.
  images:
    featured1: evento-culinarico.jpg
    alt1:
    featured2: evento-concierto.jpg
    alt2:
    featured3: evento-excursion.jpg
    alt3:
    featured4: evento-visita.jpg
    alt4:
---

<!-- hero -->
{% include "components/hero-grid.njk" %}

<div class="mt-24">
	<ul class="-my-5 divide-y divide-gray-300">
		{# wenn es events gibt #} {% for event in collections.eventsZukunft %}

		<li class="px-3 max-w-5xl mx-auto">
			<div class="flex items-center space-x-4">
				<div class="flex flex-col items-center justify-center w-40 text-center">
					<p
						class="text-xs uppercase tracking-wider text-gray-500 font-semibold"
					>
						{{ post.date | date("dddd", locale) }}
					</p>

					<p class="text-4xl font-semibold">
						{{ post.date | date("do", locale) }}
					</p>

					<p class="text-xs uppercase tracking-wider font-semibold">
						{{ post.date | date("MMM", locale) }}
					</p>
				</div>

				<div class="flex">
					<img
						class="h-40 w-40 filter grayscale"
						src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixqx=9eFae6zevd&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
						alt=""
					/>
					<img
						class="h-40 w-40 filter grayscale"
						src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixqx=9eFae6zevd&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
						alt=""
					/>
				</div>
				<div class="flex-1 min-w-0">
					{% if event.data.type %}{{ event.data.type }} {% endif %}

					<h2
						id="{{ event.data.title | slug }}"
						class="text-base font-semibold max-w-56 mb-1 mt-2"
					>
						{{ event.data.title }}
					</h2>

					<p class="bg-gray-900 px-1 py-0.5 text-gray-50">
						Apertura de puertas: {{ post.date | date("HH:mm", locale) }}
					</p>
				</div>
				<div>
					<a
						href="#"
						class="
							inline-flex
							items-center
							shadow-sm
							px-2.5
							py-0.5
							border border-gray-300
							text-sm
							leading-5
							font-medium
							rounded-full
							text-gray-700
							bg-white
							hover:bg-gray-50
						"
					>
						View
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>

<!-- include event schema  -->
{%- include "schemas/event-schema.njk" %}
<!-- ende -->
{% endfor %} {# ansonsten #}

<section id="sinconciertos" class="flex items-center justify-end">
	<div
		class="
			flex flex-col
			mt-20
			xl:mt-40
			items-start
			justify-between
			py-3
			px-2
			sm:px-6
			bg-teal-200
			shadow-sm
			w-40
			[
			sm:w-56
			][
			lg:w-80
			][
			xl:w-96
			]
		"
	>
		<h2 class="font-rock text-xl sm:text-2xl mb-2">Im moment keine Konzerte</h2>

		<p class="text-sm">
			Ya me gustaría a mí. De momento nada de nada. Ojalá de cara al verano
			podamos ir pensando en estrenar el disco.
		</p>
	</div>
</section>
