---
title: Conciertos
layout: home
permalink: "/{{ locale }}/events-beendet/index.html"
translationKey: "events-finished"
seo:
  title: Conciertos
  description: Crispina & Molinilla no pueden estar quietas ni un segundo, no paran de crear, por eso pronto las podrás encontrar en los teatros y en algunos directo de Youtube.
bgimg:
  url: alberto-conciertos.jpg
  alt: Alberto schwarz weiss
herogrid:
  title: Nuestros próximos eventos
  text: En la Fundación Goethe te ofrecemos una amplia gama de eventos únicos. Conciertos, visitas guiadas, exposiciones o excursiones con almuerzo y cata de vinos.
---

{% for event in collections.eventsVergangenheit %} {{ event | log }}

<!-- include eventcard  -->
{% include "components/eventcard-pasados.njk" %}
<!-- include event schema  -->
{%- include "schemas/event-schema.njk" %}
<!-- ende -->
{% endfor %} {
