---
title: Kontakt
layout: home
permalink: "/{{ locale }}/kontakt/index.html"
translationKey: "contact"
seo:
  title: Kontakt
  description: Sie erreichen uns telefonisch unter +34 670 588 264. Gerne können Sie uns auch unter info@fundaciongoethe.org eine Nachricht zukommen lassen.
cta:
  mainText: Werden Sie Teil der Fundación Goethe als Förderer
  subText: ...oder bewerben Sie einzelne Veranstaltungen unter Ihrer Schirmherrschaft.
  btnText: Alle Möglichkeiten kennenlernen
  btnLink: /
---

<!-- Header -->
<div class="relative mx-auto py-10 md:py-0 lg:py-16 px-3 xl:px-16 2xl:px-24">
	<div class="mx-auto pl-4 pr-8 sm:px-6 lg:px-8 text-center max-w-2xl">
		<h1 class="standardtitel">Kontaktieren Sie uns</h1>
		<p class="standardtext mt-3 sm:mt-4">
			Sie erreichen uns telefonisch unter der Nummmer +34 910 291 992 (Festnetz)
			oder +34 670 588 264 (mobil). Gerne können Sie uns auch unter
			<a href="mailto:info@fundaciongoethe.org">info@fundaciongoethe.org</a>
			eine Nachricht zukommen lassen.
		</p>
	</div>
</div>

<!-- form -->
{%- include "partials/form-contact.njk" %}
<!-- CTA -->
{% include "components/cta.njk" %}
