---
title: Artistas
layout: plain
permalink: "/{{ locale }}/kuenstler/index.html"
translationKey: "artists"
seo:
  title: Unsere Künstler
  description: Wir sind stolz darauf, einer großen Bandbreiter fantastischer Künstler eine Bühne bereiten zu dürfen.
---

<div class="mb-12">
	<div class="md:text-center max-w-3xl mx-auto mb-12">
		<h1 class="standardtitel text-gray-900">Unsere Künstler</h1>
		<p class="standardtext mt-3 max-w-2xl mx-auto sm:mt-4">
			Wir sind stolz darauf, einer großen Bandbreiter fantastischer Künstler
			eine Bühne bereiten zu dürfen.
		</p>
	</div>
	<!-- set -->
	{% set artists = collections["artists_" + locale] %}

	<!-- include partial -->
	{%- include "shared/archive-artists.njk" %}
</div>
