---
title: Artistas
layout: home
permalink: "/{{ locale }}/kuenstler/index.html"
translationKey: "artists"
seo:
  title: asdf
  description: asdf
---

<h1>Artistas</h1>
{% set artists = collections["artists_" + locale] %} {% for artist in artists %}

<p>
	<a href="{{ artist.url }}"> {{ artist.data.title }}</a>
</p>

<img
	src="/assets/images/{{ artist.data.images.profile }}"
	alt="{{ artist.data.images.alt }}"
/>

<p class="text-xs">{{ artist.data.excerpt }}</p>

{%- endfor -%}
