---
title: Lugares
layout: home
permalink: "/{{ locale }}/orte/index.html"
translationKey: "places"
seo:
  title: asdf
  description: asdf
---

<h1>Lugares</h1>
{% set venues = collections["venues_" + locale] %} {% for venue in venues %}

<p>
	<a href="{{ venue.url }}"> {{ venue.data.title }}</a>
</p>

<img
	src="/assets/images/{{ venue.data.images.profile }}"
	alt="{{ venue.data.images.alt }}"
/>

<p class="text-xs">{{ venue.data.excerpt }}</p>

{%- endfor -%}
