---
layout: home
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
permalink: /{{ locale }}/tags/{{ tag }}/
eleventyComputed:
  title: Thema "{{ tag }}”
---

<div class="px-2 sm:px-6 md:px-24 pt-16 pb-20 lg:pt-24 lg:pb-28">
	<div class="relative max-w-7xl mx-auto">
		<div class="text-center">
			<h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
				Thema "{{ tag }}”
			</h2>
			<p class="mt-3 max-w-xl mx-auto text-base text-gray-700 sm:mt-4">
				Hier sammeln wir die Nachrichten zum Thema "{{ tag }}". Alle weiteren
				Einträge sind auf der <a href="/de/aktuelles">Hauptseite</a> zu finden.
			</p>
		</div>

		{% set postslist = collections.posts_de[tag] %} {% set postslist =
		['components/postslistcards.njk'] %} {% include postslist | join %}

		<div class="border-t border-gray-300">
			<h4 class="my-2">Alle Themen:</h4>
			{% set tags = collections.tagList %} {% include "components/tagpills.njk"
			%}
		</div>
	</div>
</div>
