---
title: Über die Fundación Goethe
layout: home
permalink: "/{{ locale }}/ueber-uns/index.html"
translationKey: "about"
contentcolor: bg-white
seo:
  title: Über die Fundación Goethe
  description: Gracias a las canciones que he conseguido hacer, he conocido a gente increíble a la que quiero y admiro.
sponsorlist:
  direction: text-left
  grids: grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5
  title: Unsere Förderer
  text: Unsere Förderer sind die zentrale Achse der Fundación Goethe. Wir haben das große Glück, seit Jahren auf die Zusammenarbeit mit weltbekannten Unternehmen zählen zu können.
yearbook:
  title: Jahrbücher der Fundación Goethe
  text: In unseren Jahrbüchern geben wir einen Überblick über alle Ereignisse des vergangenen Jahres. Laden Sie sich hier die Jahrbücher der vergangenen Jahre als PDF-Datei herunter.
partnerlist:
  title: Partners
  text: Viele der von der Fundación Goethe organisierten Veranstaltungen wären ohne die Zusammenarbeit mit unseren Kooperationspartnern nicht möglich.
partners:
  - patrimonio
  - mies
  - lenesaile
  - jorgerando
---

<div class="relative mx-auto lg:pt-16">
	<ul
		class="
			max-w-md
			mx-auto
			px-3
			sm:px-6
			md:hidden
			divide-y divide-gray-300
			mt-10
			text-sm
			font-semibold
			mb-2
		"
	>
		<li class="py-2">
			<a href="#patronato" class="block no-underline pr-2 text-gray-900">
				Vorstand</a
			>
		</li>

		<li class="py-2">
			<a href="#sponsors" class="block no-underline pr-2 text-gray-900">
				Förderer</a
			>
		</li>

		<li class="py-2">
			<a href="#filosofia" class="block no-underline pr-2 text-gray-900">
				Philosophie</a
			>
		</li>

		<li class="py-2">
			<a href="#historia" class="block no-underline pr-2 text-gray-900">
				Geschichte</a
			>
		</li>

		<li class="py-2">
			<a href="#anuarios" class="block no-underline pr-2 text-gray-900">
				Jahrbücher</a
			>
		</li>

		<li class="py-2">
			<a href="#partners" class="block no-underline pr-2 text-gray-900">
				Kooperationspartner</a
			>
		</li>
	</ul>

	<div class="flex flex-col md:flex-row">
		<div
			class="
				mr-3
				md:mr-0 md:w-5/12
				bg-gray-200
				rounded-tr-lg rounded-br-lg
				py-12
				z-10
			"
		>
			<div class="px-3 sm:px-6 xl:pl-16 2xl:pl-24 md:pr-12">
				<h1 id="patronato" class="standardtitel">Vorstand</h1>
				<p class="standardtext mt-4">
					Der Stiftungsrat ist das Leitungs- und Vertretungsorgan der Stiftung.
					Seine Mitglieder sind für die Festlegung der durchzuführenden
					Tätigkeiten, die Genehmigung der Haushaltspläne und Jahresabschlüsse
					verantwortlich.
				</p>
			</div>

			<div
				class="
					flex flex-col
					sm:flex-row
					md:flex-col
					mt-10
					xl:mt-16
					mr-3
					md:mr-16
				"
			>
				<!-- brem -->
				<div class="w-full md:space-y-4 md:-mb-6 mr-3">
					<div class="aspect-w-5 aspect-h-3">
						{% Picture "src/assets/images/patrons/josef-brem-1.jpg", "aspect-w-4
						aspect-h-2", "object-cover shadow-sm rounded-tr-lg rounded-br-lg
						filter grayscale", "Josef Brem" %}
					</div>

					<div
						class="
							py-1
							lg:py-2
							transform
							-translate-y-10
							lg:-translate-y-16
							space-y-2
							bg-white
							rounded-md
							border
							w-56
							2xl:w-72
							mx-auto
						"
					>
						<div class="leading-6 text-center text-lg">
							<h3 class="mb-2 font-semibold">Josef Brem</h3>
							<p class="text-red-600 text-sm font-semibold uppercase">
								Presidente
							</p>
							<p class="text-gray-500 text-sm">desde 2019</p>
						</div>
					</div>
				</div>

				<!-- minet -->
				<div class="w-full md:space-y-4 md:mt-1 -mb-5">
					<div class="aspect-w-5 aspect-h-3">
						<!-- picture shortcode -->
						{% Picture "src/assets/images/patrons/wolfgang-minet-1.jpg",
						"aspect-w-5 aspect-h-3", "object-cover shadow-sm rounded-tr-lg
						rounded-br-lg filter grayscale", "Wolfgang Minet" %}
					</div>

					<div
						class="
							py-1
							lg:py-2
							transform
							-translate-y-10
							lg:-translate-y-16
							space-y-2
							bg-white
							rounded-md
							border
							w-56
							2xl:w-72
							mx-auto
						"
					>
						<div class="leading-6 text-center text-lg">
							<h3 class="mb-2 font-semibold">Wolfgang Minet</h3>
							<p class="text-red-600 text-sm font-semibold uppercase">
								Presidente de honor
							</p>
							<p class="text-gray-500 text-sm">Presidente 2001 - 2019</p>
						</div>
					</div>
				</div>
			</div>

			<!-- small patrons -->
			<div class="space-y-6 my-10">
				<!-- Dirk Mirovsky -->
				<div
					class="
						flex
						items-center
						space-x-4
						lg:space-x-6
						px-3
						xl:pl-16
						2xl:pl-24
						mb-4
					"
				>
					<div
						class="
							block
							w-36
							aspect-w-10 aspect-h-4
							rounded-lg
							bg-gray-100
							overflow-hidden
						"
					>
						<!-- picture shortcode -->
						{% Picture "src/assets/images/patrons/dirk-mirovsky-1.jpg",
						"aspect-w-10 aspect-h-4", "object-cover filter grayscale", "Dirk
						Mirovsky" %}
					</div>
					<div class="text-lg leading-6 w-2/3">
						<h3 class="mb-2 font-semibold">Dirk Mirovsky</h3>
						<p class="text-red-600 text-sm font-semibold uppercase">
							Vicepresidente
						</p>
						<p class="text-gray-500 text-sm">Barcelona, desde 2013</p>
					</div>
				</div>

				<!-- Dirk Budach -->
				<div
					class="
						flex
						items-center
						space-x-4
						lg:space-x-6
						px-3
						xl:pl-16
						2xl:pl-24
					"
				>
					<div
						class="
							block
							w-36
							aspect-w-10 aspect-h-4
							rounded-lg
							bg-gray-100
							overflow-hidden
						"
					>
						<!-- picture shortcode -->
						{% Picture "src/assets/images/patrons/dirk-budach.jpg", "aspect-w-10
						aspect-h-2", "object-cover filter grayscale", "Dirk Budach" %}
					</div>
					<div class="text-lg leading-6 w-2/3">
						<h3 class="mb-2 font-semibold">Dirk Budach</h3>
						<p class="text-red-600 text-sm font-semibold uppercase">
							Vicepresidente
						</p>
						<p class="text-gray-500 text-sm">Madrid, seit 2017</p>
					</div>
				</div>

				<!-- Kai Fische  -->
				<div
					class="
						flex
						items-center
						space-x-4
						lg:space-x-6
						px-3
						xl:pl-16
						2xl:pl-24
					"
				>
					<div
						class="
							block
							w-36
							aspect-w-10 aspect-h-4
							rounded-lg
							bg-gray-100
							overflow-hidden
						"
					>
						<!-- picture shortcode -->
						{% Picture "src/assets/images/patrons/kai-fischer-1.jpg",
						"aspect-w-10 aspect-h-4", "object-cover filter grayscale", "Kai
						Fischer" %}
					</div>
					<div class="text-lg leading-6 w-2/3">
						<h3 class="mb-2 font-semibold">Kai Fischer</h3>
						<p class="text-red-600 text-sm font-semibold uppercase">
							Schriftführer
						</p>
						<p class="text-gray-500 text-sm">seit 2009</p>
					</div>
				</div>

				<!-- Claudia Remus -->
				<div
					class="
						flex
						items-center
						space-x-4
						lg:space-x-6
						px-3
						xl:pl-16
						2xl:pl-24
					"
				>
					<div
						class="
							block
							w-36
							aspect-w-10 aspect-h-4
							rounded-lg
							bg-gray-100
							overflow-hidden
						"
					>
						<!-- picture shortcode -->
						{% Picture "src/assets/images/patrons/claudia-remus.jpg",
						"aspect-w-10 aspect-h-4", "object-cover filter grayscale", "Claudia
						Remus" %}
					</div>
					<div class="text-lg leading-6 w-2/3">
						<h3 class="mb-2 font-semibold">Claudia Remus</h3>
						<p class="text-red-600 text-sm font-semibold uppercase">
							Direktorin
						</p>
						<p class="text-gray-500 text-sm">
							seit 2013. Ansprechpartnerin und Organisatorin.
						</p>
					</div>
				</div>

				<!-- small patrons ende -->
			</div>
		</div>
		<div class="md:w-7/12">
			<div id="sponsors" class="py-12 px-3 sm:px-6 xl:pl-16">
				<!-- sponsors -->
				{% include "components/sponsorlist.njk" %}
			</div>

			<div id="filosofia" class="relative bg-yellow-300">
				<div class="lg:absolute lg:inset-0">
					<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-5/12">
						{% Picture "./src/assets/images/hero/guestaccess-hdr.jpg","", " h-56
						w-full object-cover lg:absolute lg:h-full filter grayscale", "Gente
						hablando y tomando algo en un evento de la Fundación Goethe" %}
					</div>
				</div>
				<div
					class="
						relative
						pt-12
						pb-12
						px-3
						sm:pt-12 sm:px-6
						xl:pl-16
						lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2
					"
				>
					<div class="lg:col-start-1">
						<div
							class="
								text-base
								max-w-prose
								mx-auto
								lg:max-w-lg lg:ml-auto lg:mr-0
							"
						>
							<p class="text-lg text-black font-semibold">
								Die Fundación Goethe fördert die deutsch-spanischen
								Kulturbeziehungen und unterstützt deutsche und spanische Musiker
								und Künstler mit zahlreichen Aufführungs- und
								Ausstellungsmöglichkeiten
							</p>
							<div class="mt-6 prose text-black">
								<p>
									Künstlern beider Länder und vor allem jungen Menschen wird
									ermöglicht, bei exklusiven Veranstaltungen aufzutreten oder an
									spannenden Orten auszustellen. Der Nachwuchs der Kulturszene
									beider Länder wird aktiv gefördert.
								</p>
								<p>
									Die deutsch-spanische Wirtschaft unterstützt mit jährlichen
									steuerlich abzugsfähigen Fördererbeiträgen die gemeinnützige
									Arbeit der Fundación Goethe. Damit leisten die Förderer einen
									Beitrag zum kulturellen Dialog zwischen der Bundesrepublik
									Deutschland und dem Königreich Spanien.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="historia" class="bg-orange-400">
				<div
					class="
						text-base
						mx-auto
						lg:mr-0
						pt-12
						pb-28
						px-3
						sm:px-6
						xl:pl-16
						md:pr-12
					"
				>
					<p class="text-lg text-black font-semibold">
						Die Fundación Goethe wurde am 18. Juni 2001 in der Residenz des
						deutschen Botschafters in Madrid gegründet.
					</p>
					<div class="mt-6 prose text-black">
						<p>
							Seit ihrer Gründung im Jahre 2001 und dank der Ausrichtung einer
							Reihe von Veranstaltungen, die einen hohen Zuspruch finden und der
							Unterstützung namhafter Partner, Einrichtungen und anderer
							Stiftungen, wächst die Fundación Goethe sowohl in der Zahl
							teilnehmender Unternehmen, Förderer und Freunde, als auch in ihrer
							Visibilitat und ihrem Ansehen ständig weiter. Heute ist die
							Fundación in der deutsch-spanischen Gesellschaft etabliert und
							anerkannt und widmet sich auch weiterhin der Stärkung des Dialogs
							zwischen den beiden Kulturen, indem sie auf die Synergie zwischen
							kulturellen und unternehmerischen Szenarien setzt.
						</p>
						<p>
							Im Bewusstsein, dass Wirtschaft und Kultur keine entgegenwirkenden
							sondern zusammengehörenden Welten sind, setzten diese
							Unternehmungen auf die Allianz zwischen Kultur und Wirtschaft,
							Kunst und Kommerz, in einem Moment, in dem die Lage der Märkte das
							Nachdenken über neue Modelle zur Förderung von Kultur anregt.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- include yearbook -->

	{%- include "shared/about-yearbook.njk" %}
</div>

<!-- partners -->

<div id="partners" class="relative mx-auto max-w-3xl mb-12">
	{%- include "components/partnerlist.njk" %}
</div>
