---
title: Herzlich Willkommen!
description: Die Anmeldung war erfolgreich! Von jetzt an erhältst du von uns Einladungen zu ausgesuchten Veranstaltungen.
layout: plain
permalink: '/{{ locale }}/willkommen/index.html'
translationKey: 'success'
---

<div class="flex items-center justify-center w-full lg:min-h-0">
  <div class="flex flex-col lg:flex-row lg:space-x-16 lg:space-x-reverse justify-center items-center">
    <div class="lg:w-1/2 px-2 text-sm md:text-base lg:px-0">
      <h1 class="standardtitel">Herzlich Willkommen!</h1>

      <p class="standardtext mt-2">
        Die Anmeldung war erfolgreich! Von jetzt an erhältst du von uns Einladungen zu ausgesuchten Veranstaltungen.
      </p>
    </div>

    <div class="lg:w-1/2 py-8">{%- include "shared/selfie.svg" %}</div>
  </div>
</div>
