/* source-sans-pro-regular - latin */
@font-face {
	font-family: "GothamRounded";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("/assets/fonts/gotham/gothamrnd-book.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/assets/fonts/gotham/gothamrnd-book.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/assets/fonts/gotham/gothamrnd-book-subset.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/assets/fonts/gotham/gothamrnd-book-subset.woff") format("woff"),
		/* Modern Browsers */ url("/assets/fonts/gotham/gothamrnd-book-subset.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/assets/fonts/gotham/gothamrnd-book.svg#GothamRounded") format("svg"); /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
	font-family: "GothamRounded";
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: url("/assets/fonts/gotham/gothamrnd-medium.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/assets/fonts/gotham/gothamrnd-medium.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/assets/fonts/gotham/gothamrnd-medium-subset.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/assets/fonts/gotham/gothamrnd-medium-subset.woff") format("woff"),
		/* Modern Browsers */
			url("/assets/fonts/gotham/gothamrnd-medium-subset.ttf") format("truetype"),
		/* Safari, Android, iOS */
			url("/assets/fonts/gotham/gothamrnd-medium.svg#GothamRounded")
			format("svg"); /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
	font-family: "GothamRounded";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url("/assets/fonts/gotham/gothamrnd-bold.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/assets/fonts/gotham/gothamrnd-bold.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/assets/fonts/gotham/gothamrnd-bold-subset.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/assets/fonts/gotham/gothamrnd-bold-subset.woff") format("woff"),
		/* Modern Browsers */ url("/assets/fonts/gotham/gothamrnd-bold-subset.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/assets/fonts/gotham/gothamrnd-bold.svg#GothamRounded") format("svg"); /* Legacy iOS */
}
