:focus,
button:focus {
  outline: #f37536 dashed 3px;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible,
button:focus-visible {
  outline: #f37536 dashed 3px;
  outline-offset: 0.25rem;
}

.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
  display: inline-block;
}

.skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
