---
title: Shop/Exito
layout: home
permalink: "/{{ locale }}/exito/index.html"
translationKey: "success"
seo:
  title: ¡Muchísimas gracias por tu compra!
  description: Si tienes alguna pregunta, por favor no dudes en ponterte en contacto conmigo.
bgimg:
  url: exito.JPG
  alt: Alberto rebota de alegría frente a una pared blanca
  width: 1537
  height: 1367
eleventyExcludeFromCollections: true
---

<div class="my-16 grid grid-cols-4 gap-4">
	<div
		class="
			col-start-2 col-end-5
			bg-white
			sm:bg-transparent
			opacity-75
			sm:opacity-100
			p-4
			sm:col-start-3
			col-span-1
			pr-4
			lg:pr-10
			max-w-md
		"
	>
		<h1 class="standardtitle">¡Muchísimas gracias por tu compra!</h1>
		<p class="prose standardtext">
			Si tienes alguna pregunta, por favor no dudes en ponterte en
			<a href="/contacto/">contacto</a> conmigo.
		</p>
	</div>
</div>
