---
title: Inicio
layout: home
permalink: /{{ locale }}/index.html
translationKey: "home"
seo:
  title: La Fundación Goethe en Madrid.
  description: La Fundación Cultural de la Economía Hispano-Alemana desde 2001
  image: default.png
heroimg:
  url: start.JPG
  alt: teatro
  width: 835
  height: 714
herotext:
  badge: Desde 2001
  title: Fundación cultural de la economía hispano-alemana
  content: La Fundación Goethe promueve las relaciones hispano-alemanas a nivel cultural y apoya a músicos y artistas alemanes y españoles con posibilidades de actuación y exposición.
cta:
  mainText: Forma parte de la Fundación	Goethe como Patrocinador
  subText: ...o bien promociona eventos aislados bajo tu patrocinio.
  btnText: Informate de las opciones.
  btnLink: /
---

{# startnews #}

<div class="pt-16 pb-5 px-4 sm:px-6 lg:pt-20 lg:px-24">
	<div class="relative mx-auto">
		<div class="text-center">
			<h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">Noticias</h2>
			<p class="mt-3 max-w-2xl mx-auto text-base text-gray-700 sm:mt-4">
				En nuestra sección de noticias damos una revisión de los eventos pasados
				y llamamos la atención sobre eventos especiales.
			</p>
		</div>

		<section class="mt-12">
			<div class="relative pb-20">
				<div class="relative mx-auto max-w-7xl">
					<div
						class="
							grid
							gap-8
							mx-auto
							mt-12
							md:grid-cols-2
							lg:grid-cols-3
							lg:max-w-none
						"
					>
						{% set postslist = collections.posts_es | reverse %} {% for post in
						postslist.slice(0, 3) %} {% include "components/postslistcards3.njk"
						%} {%- endfor -%}
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% include "components/cta.njk" %}
