---
title: Inicio
layout: base
permalink: /{{ locale }}/index.html
translationKey: 'home'
seo:
  title: La Fundación Goethe en Madrid.
  description: La Fundación Cultural de la Economía Hispano-Alemana desde 2001
  image: default.png
heroimg:
  url: ./src/assets/images/hero/start.jpg
  alt: Bailarina se detiene en un movimiento en el agua, evento de danza en el Pabellón Mies van der Rohe, Barcelona
herotext:
  badge: Desde 2001
  title: Fundación cultural de la economía hispano-alemana
  content: La Fundación Goethe promueve las relaciones hispano-alemanas a nivel cultural y apoya a artistas alemanes y españoles con posibilidades de actuación y exposición.
promotion:
  title: Organizamos eventos por toda España.
  text: Hemos organizado más de <strong>600</strong> conciertos, exposiciones, visitas guiadas y excursiones para más de <strong>50.000</strong> visitantes.
  more: ¡Conoce más sobre nosotros!
  link: /es/sobre-nosotros/
cta:
  mainText: Forma parte de la Fundación	Goethe como Patrocinador
  subText: ...o bien promociona eventos puntuales bajo tu patrocinio.
  btnText: Informate de las opciones.
  btnLink: /es/participar/
sponsorlist:
  title: Nuestros Patrocinadores
  text: Nuestros patrocinadores son, sin duda alguna, el eje central de la Fundación Goethe. Tenemos la suerte de contar desde hace años con la colaboración de reconocidas marcas de gran prestigio mundial.
  eleventyComputed:
  preloads:
    - as: image
      href: '/assets/images/navidad-2021-hero-230w.jpeg'
---

{% include "components/herobg.njk" %}

<main id="main" class="mt-96 sm:mt-80 md:mt-44 lg:mt-64 xl:mt-96 2xl:mt-112">
  <div class="pt-48 pb-5 px-4 sm:px-6 md:pt-48 lg:pt-44 xl:pt-20 2xl:pt-20 lg:px-24">
    <!-- sponsors -->
    {% include "components/sponsorlist.njk" %}
  </div>
  <!-- promotion -->
  {% include "components/promotion.njk" %}

  <!-- last 3 news -->
  {% include "components/last3news.njk" %}

  <!-- CTA -->
  {% include "components/cta.njk" %}
</main>
