---
title: Lugares
layout: plain
permalink: "/{{ locale }}/lugares/index.html"
translationKey: "places"
seo:
  title: Lugares para nuestros eventos
  description: Estos son los muchos lugares donde organizamos eventos en toda España.
---

<div class="mb-12">
	<div class="md:text-center max-w-3xl mx-auto mb-12">
		<h1 class="standardtitel text-gray-900">Lugares para nuestros eventos</h1>
		<p class="standardtext mt-3 max-w-2xl mx-auto sm:mt-4">
			Estos son los muchos lugares donde organizamos eventos en toda España.
		</p>
	</div>
	<!-- set -->
	{% set venues = collections["venues_" + locale] %}

	<!-- include partial -->
	{%- include "shared/archive-venues.njk" %}
</div>
