---
title: Patrocinadores, partners y artistas
layout: plain
permalink: "/{{ locale }}/participar/index.html"
translationKey: "artists"
seo:
  description: Werden Sie Teil der Fundación Goethe als Förderer oder bewerben Sie einzelne Veranstaltungen unter Ihrer Schirmherrschaft.
sponsorlist:
  grids: grid-cols-3 md:grid-cols-4 lg:grid-cols-5
---

<div class="relative md:text-center max-w-3xl mx-auto mb-12">
	<h1 class="standardtitel text-gray-900">
		Patrocinadores, partners y artistas
	</h1>
	<p class="standardtext mt-3 max-w-2xl mx-auto sm:mt-4">
		Nuestro objetivo es apoyar el diálogo entre la cultura alemana y la
		española. Todos nuestros eventos y acciones son posibles gracias al
		compromiso idealista y material de empresas y particulares.
	</p>
</div>

<ul
	class="
		max-w-md
		mx-auto
		px-3
		sm:px-6
		md:hidden
		divide-y divide-gray-300
		mt-10
		text-sm
		font-semibold
		mb-2
	"
>
	<li class="py-2">
		<a href="#sponsor" class="block no-underline pr-2 text-gray-900">
			Convertirse en patrocinador</a
		>
	</li>

	<li class="py-2">
		<a href="#partner" class="block no-underline pr-2 text-gray-900">
			Apoyar eventos puntuales</a
		>
	</li>

	<li class="py-2">
		<a href="#artist" class="block no-underline pr-2 text-gray-900">
			Información para artistas</a
		>
	</li>

	<li class="py-2">
		<a href="#claudia" class="block no-underline pr-2 text-gray-900">
			Contactar con nosotros</a
		>
	</li>
</ul>

<!-- förderer -->

<div id="sponsor" class="relative md:mt-16">
	<div
		class="
			flex flex-col
			md:mx-auto
			md:max-w-7xl
			md:px-8
			md:grid
			md:grid-cols-2
			md:grid-flow-col-dense
			md:gap-16
			xl:gap-24
		"
	>
		<div class="order-2 md:order-1 max-w-xl mx-auto md:max-w-none md:mx-0">
			<div>
				<div class="mt-6">
					<h2 class="standardtitel">Convertirse en patrocinador</h2>
					<div class="mt-4 standardtext">
						<p>
							Un posicionamiento positivo y fuerte de la cultura alemana
							promueve el desarrollo de productos y empresas alemanas en España.
						</p>

						<p>
							Los patrocinadores pueden participar con sus empleados en una
							serie de actividades en toda España y crear una red de
							comunicación. Algunos eventos sólo están abiertos a nuestros
							patrocinadores.
						</p>

						<p>
							Todas las donaciones a la Fundación Goethe son deducibles de
							impuestos. Estaremos encantados de hablar de todas las ventajas y
							condiciones de la afiliación en una reunión personal.
						</p>
					</div>
					<div class="mt-6">
						<a
							href="#claudia"
							class="
								buttonhover
								inline-flex
								bg-red-500 bg-origin-border
								px-4
								py-2
								border border-transparent
								rounded-md
								shadow-sm
								no-underline
							"
						>
							Contactar con nosotros
						</a>
					</div>
				</div>
			</div>
			{#
			<div class="mt-8 border-t border-gray-200 pt-6">
				<blockquote>
					<div>
						<p class="text-base text-gray-700">
							“Zitat von einem zufriedenem Förderer. Cras velit quis eros eget
							rhoncus lacus ultrices sed diam. Sit orci risus aenean curabitur
							donec aliquet. Mi venenatis in euismod ut.”
						</p>
					</div>
					<footer class="mt-3">
						<div class="flex items-center space-x-3">
							<div class="text-base font-medium text-black">
								Vorname Name, Position bei Förderer
							</div>
						</div>
					</footer>
				</blockquote>
			</div>
			#}
		</div>
		<div class="order-1 md:order-2 mb my-12 sm:mt-16 px-2 sm:px-6 md:px-0">
			<div class="relative py-3 sm:max-w-xl sm:mx-auto">
				<div
					class="
						absolute
						inset-0
						bg-gradient-to-r
						from-red-600
						to-red-500
						shadow-lg
						transform
						-rotate-6
						rounded-lg
						sm:rounded-xl
					"
				></div>
				<div
					class="
						relative
						px-4
						aspect-w-4 aspect-h-3
						md:aspect-h-4
						bg-white
						shadow-lg
						rounded-lg
						sm:rounded-xl
					"
				>
					{% Picture "./src/assets/images/cta/patrons-reunion.jpg"," aspect-w-4
					aspect-h-3 md:aspect-h-4", "object-cover filter grayscale rounded-lg
					sm:rounded-xl", "Förderer" %}
				</div>
			</div>
		</div>
	</div>

	<!-- partner -->

	<div id="partner" class="mt-6 lg:mt-20">
		<div
			class="
				flex flex-col
				md:mx-auto
				md:max-w-7xl
				md:px-8
				md:grid
				md:grid-cols-2
				md:grid-flow-col-dense
				md:gap-16
				xl:gap-24
			"
		>
			<div
				class="
					order-2
					md:order-1
					max-w-xl
					mx-auto
					md:max-w-none md:mx-0 md:px-0 md:col-start-2
				"
			>
				<div class="mt-6">
					<h2 class="standardtitel">Apoyar eventos puntuales</h2>
					<div class="mt-4 standardtext">
						<p>
							También se puede apoyar eventos puntuales. El mecenazgo incluye el
							apoyo financiero, por ejemplo, o contribuciones mediante el
							suministro o el préstamo de materiales, mano de obra u otros
							servicios.
						</p>

						<p>
							En el pasado, por ejemplo, pudimos apoyar a los artistas en su
							gira por España con un vehículo de una empresa colaboradora de
							alquiler de coches, u ofrecer a los numerosos invitados a los
							conciertos de Adviento una recepción con dulces navideños alemanes
							y vino caliente de una cadena de supermercados.
						</p>
					</div>
					<div class="mt-6">
						<a
							href="#claudia"
							class="
								buttonhover
								inline-flex
								bg-orange-500 bg-origin-border
								px-4
								py-2
								border border-transparent
								rounded-md
								shadow-sm
								text-black
								no-underline
							"
						>
							Contactar con nosotros
						</a>
					</div>
				</div>
			</div>
			<div
				class="
					order-1
					md:order-2
					mb
					my-12
					sm:mt-16
					lg:mt-0
					px-2
					sm:px-6
					md:px-0
				"
			>
				<div class="relative py-3 sm:max-w-xl sm:mx-auto">
					<div
						class="
							absolute
							inset-0
							bg-gradient-to-r
							from-orange-500
							to-orange-600
							shadow-lg
							transform
							-rotate-6
							rounded-lg
							sm:rounded-xl
						"
					></div>
					<div
						class="
							relative
							px-4
							aspect-w-4 aspect-h-3
							md:aspect-h-4
							bg-white
							shadow-lg
							rounded-lg
							sm:rounded-xl
						"
					>
						{% Picture "./src/assets/images/cta/empfang-1.jpg"," aspect-w-4
						aspect-h-3 md:aspect-h-4 ", "object-cover filter grayscale
						rounded-lg sm:rounded-xl", "Förderer" %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- artist -->

	<div id="artist" class="relative mt-6 lg:mt-20">
		<div
			class="
				flex flex-col
				md:mx-auto
				md:max-w-7xl
				md:px-8
				md:grid
				md:grid-cols-2
				md:grid-flow-col-dense
				md:gap-16
				xl:gap-24
			"
		>
			<div
				class="
					order-2
					md:order-1
					max-w-xl
					mx-auto
					md:max-w-none md:mx-0 md:px-0 md:py-10
				"
			>
				<div>
					<div class="mt-6">
						<h2 class="standardtitel">Un escenario en España</h2>
						<div class="mt-4 standardtext">
							<p>
								¿Eres artista? ¿Es tu propósito en la vida las artes visuales,
								las artes escénicas o la música?
							</p>

							<p>
								Te invitamos a ponerte en contacto con nosotros y contarnos tu
								trabajo.
							</p>

							<p>
								Por ejemplo, envíanos tu portafolio en formato PDF o página web,
								una breve descripción del proyecto, enlaces a vídeos o redes
								sociales.
							</p>

							<p>Tenemos ganas de trabajar juntos en futuros eventos.</p>
						</div>
						<div class="mt-6">
							<a
								href="#claudia"
								class="
									buttonhover
									inline-flex
									bg-yellow-400 bg-origin-border
									px-4
									py-2
									border border-transparent
									rounded-md
									shadow-sm
									no-underline
								"
							>
								Contactar con nosotros
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="order-1 md:order-2 mb my-12 sm:mt-16 px-2 sm:px-6 md:px-0">
				<div class="relative py-3 sm:max-w-xl sm:mx-auto">
					<div
						class="
							absolute
							inset-0
							bg-gradient-to-r
							from-yellow-400
							to-yellow-500
							shadow-lg
							transform
							-rotate-6
							rounded-lg
							sm:rounded-xl
						"
					></div>
					<div
						class="
							relative
							px-4
							aspect-w-4 aspect-h-3
							md:aspect-h-4
							bg-white
							shadow-lg
							rounded-lg
							sm:rounded-xl
						"
					>
						{% Picture "./src/assets/images/cta/escenario.jpg"," aspect-w-4
						aspect-h-3 md:aspect-h-4 ", "object-cover filter grayscale
						rounded-lg sm:rounded-xl", "Förderer" %}
					</div>
				</div>
			</div>
		</div>

		<!-- kontakt claudia -->

		<div
			id="claudia"
			class="
				pb-4
				lg:pb-0 lg:z-10 lg:relative
				bg-gradient-to-b
				md:bg-gradient-to-r
				from-gray-50
				to-gray-200
				mt-40
				rounded-md
			"
		>
			<div class="lg:mx-auto lg:max-w-7xl md:px-8 md:grid md:grid-cols-3">
				<div class="relative md:-my-8">
					<div
						class="mx-auto max-w-md px-4 md:max-w-3xl sm:px-6 sm:p-0 sm:h-full"
					>
						<div
							class="aspect-w-4 aspect-h-4 rounded-md shadow-md overflow-hidden"
						>
							<!-- picture shortcode -->
							{% Picture "./src/assets/images/patrons/claudia-remus.jpg","
							aspect-w-4 aspect-h-4 ", "rounded-md object-cover filter
							grayscale", "Claudia Remus" %}
						</div>
					</div>
				</div>
				<div class="mt-12 md:m-0 md:col-span-2 sm:pl-4 lg:pl-8">
					<div class="mx-auto max-w-md px-4 sm:px-0 sm:py-4 sm:max-w-none">
						<blockquote>
							<div>
								<svg
									class="h-12 w-12 text-red-600 opacity-90"
									fill="currentColor"
									viewBox="0 0 32 32"
									aria-hidden="true"
								>
									<path
										d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
									></path>
								</svg>
								<p class="mt-6 standardtext">
									Estoy encantada de hablar de todo lo demás en persona. Puedes
									ponerte en contacto conmigo en el
									<a
										class="no-underline"
										href="tel:{{ meta.address.phoneCall }}"
										>{{ meta.address.phoneDisplay }}</a
									>
									o en el
									<a
										class="no-underline"
										href="tel:{{ meta.address.mobileCall }}"
										>{{ meta.address.mobileDisplay }}</a
									>. También puedes enviarme un correo electrónico a
									<a
										class="no-underline"
										href="mailto:{{ meta.address.email }}"
										>{{ meta.address.email }}</a
									>.
								</p>
							</div>
							<footer class="mt-6">
								<p class="text-base text-black">Claudia Remus</p>
								<p class="text-base text-red-600">
									Directora de la Fundación Goethe
								</p>
							</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<!-- förderer -->

		<div class="my-20 xl:mt-32">
			<div class="mx-auto max-w-md sm:max-w-3xl lg:max-w-7xl">
				<div class="lg:grid lg:grid-cols-3 lg:gap-24 lg:items-center">
					<div>
						<h2 class="standardtitel">Nuestros Patrocinadores</h2>
						<p class="mt-4 standardtext">
							Nuestros patrocinadores son, sin duda alguna, el eje central de la
							Fundación Goethe. Tenemos la suerte de contar desde hace años con
							la colaboración de reconocidas marcas de gran prestigio mundial.
						</p>
					</div>

					<div class="col-span-2">
						{% include "components/sponsorlist.njk" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
