---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/eventos/                                                                 /es/eventos/
/eventos-previstos/                                                       /es/eventos/
/invitaciones/                                                            /es/invitaciones/
/retrospectiva/                                                           /es/eventos/
/contacto/                                                                /es/contacto/

/enhorabuena/                                                             /es/
/coronavirus                                                              /es/
/fundacion/patronato/                                                     /es/

/fundacion/introduccion/                                                  /es/sobre-nosotros/
/fundacion/patronato/                                                     /es/sobre-nosotros/
/fundacion/album-de-fotos/                                                /es/galeria/
/medidas-de-seguridad-durante-el-tiempo-del-coronavirus/                  /es/
/recomendaciones-la-vida-cultural-desde-casa/                             /es/
/artistas-2020/                                                           /es/
/colaboradores/patrocinadores/                                            /es/sobre-nosotros/
/colaboradores/partners/                                                  /es/sobre-nosotros/

/de/fundacion/einfuehrung/                                                /de/ueber-uns/
/de/fundacion/vorstand/                                                   /de/ueber-uns/
/de/fundacion/galerie/                                                    /de/fotoalbum/
/de/eventos/                                                              /de/events/
/de/mitwirkende/foerderer/                                                /de/eber-uns/
/de/mitwirkende/kooperationspartner/                                      /de/eber-uns/
/de/aktuell/                                                              /de/aktuelles/

/de/datenschutzerklaerung/                                                /de/datenschutz/
/es/politica-de-privacidad/                                               /de/privacidad/
/es/aviso/                                                                /es/aviso-legal/

/downloads/jahrbuch-2014.pdf                                              /assets/pdf/jahrbuch-2014.pdf
/downloads/jahrbuch-2015.pdf                                              /assets/pdf/jahrbuch-2015.pdf
/downloads/jahrbuch-2016.pdf                                              /assets/pdf/jahrbuch-2016.pdf
/downloads/jahrbuch-2017.pdf                                              /assets/pdf/jahrbuch-2017.pdf

/noticias/                                                                /es/noticias/
/de/aktuell/                                                              /de/aktuelles/
/noticias/*                                                               /es/noticias/:splat
/de/aktuell/*                                                             /de/aktuelles/:splat

/es/patrocinadores/mercedes/                                              /es/sobre-nosotros/#sponsors
/es/patrocinadores/roedl/                                                 /es/sobre-nosotros/#sponsors

/de/foerderer/mercedes/                                                    /de/ueber-uns/#sponsors
/de/foerderer/roedl/                                                       /de/ueber-uns/#sponsors