---
eleventyExcludeFromCollections: true
---
/discografia/                                                          	/discos/
/buenas/ 								/blog/buenas/
/acerca-de-antonio-vega/ 						/blog/acerca-de-antonio-vega/
/del-168-de-solly-st-al-37-de-bailen/					/blog/del-168-de-solly-st-al-37-de-bailen/
/acerca-de-basico-y-marta-tchai/					/blog/acerca-de-basico-y-marta-tchai/
/estacion-sonora/							/blog/estacion-sonora/
/la-penultima-funcion-del-teatro-chino/					/blog/la-penultima-funcion-del-teatro-chino/
/este-jueves/ 								/blog/este-jueves/
/san-isidro/								/blog/san-isidro/
/blancas-bicicletas/							/blog/blancas-bicicletas/
/ich-bin-ein-berliner/							/blog/ich-bin-ein-berliner/
/sheffield-247/								/blog/sheffield-247/
/un-guiri-una-bala-el-new-york-times-y-algunas-canciones/		/blog/un-guiri-una-bala-el-new-york-times-y-algunas-canciones/
/no-nos-van-a-reconocer/						/blog/no-nos-van-a-reconocer/
/canciones-para-la-enesima-mudanza/					/blog/canciones-para-la-enesima-mudanza/
/bis-bald-berlin/							/blog/bis-bald-berlin/
/feliz-ano/								/blog/feliz-ano/
/tweets-que-nunca-te-dije/						/blog/tweets-que-nunca-te-dije/
/historia-de-un-tema-quisiste-probarlo/					/blog/historia-de-un-tema-quisiste-probarlo/
/canciones-de-amor-a-quemarropa/					/blog/canciones-de-amor-a-quemarropa/
/pum-catapun-chinpun/							/blog/pum-catapun-chinpun/
/track-by-track-tema-1-no-nos-van-a-reconocer/ 				/blog/track-by-track-tema-1-no-nos-van-a-reconocer/
/track-by-track-tema-2-en-la-proxima-vida/				/blog/track-by-track-tema-2-en-la-proxima-vida/
/track-by-track-tema-3-quisiste-probarlo/				/blog/track-by-track-tema-3-quisiste-probarlo/
/track-by-track-tema-4-como-quien-oye-llover/ 				/blog/track-by-track-tema-4-como-quien-oye-llover/
/track-by-track-tema-5-de-largo/					/blog/track-by-track-tema-5-de-largo/
/track-by-track-tema-6-en-esta-ciudad/ 					/blog/track-by-track-tema-6-en-esta-ciudad/
/track-by-track-tema-7-charcos-de-barro/ 				/blog/track-by-track-tema-7-charcos-de-barro/
/track-by-track-tema-8-alguien-debe-andar-detras-de-esto/		/blog/track-by-track-tema-8-alguien-debe-andar-detras-de-esto/
/track-by-track-tema-9-caprichos-de-la-bohemia/				/blog/track-by-track-tema-9-caprichos-de-la-bohemia/
/anvil-larra-mahou-y-las-fiestas-de-mi-pueblo/				/blog/anvil-larra-mahou-y-las-fiestas-de-mi-pueblo/
/cafe-libertad-8/ 							/blog/cafe-libertad-8/
/regalaelmundoencima/							/blog/regalaelmundoencima/
/track-by-track-tema-10-solo-tenemos-el-blues/				/blog/track-by-track-tema-10-solo-tenemos-el-blues/
/fin-de-gira-12-de-junio-sala-galileo-galilei/				/blog/fin-de-gira-12-de-junio-sala-galileo-galilei/
/el-unplugged-de-nirvana/						/blog/el-unplugged-de-nirvana/
/el-conci-del-ano/ 							/blog/el-conci-del-ano/
/este-verano/								/blog/este-verano/
/sabados-de-autor-de-octubre-en-la-fidula/				/blog/sabados-de-autor-de-octubre-en-la-fidula/
/2019/ 									/blog/2019/
/chao-madrid-feliz-verano/						/blog/chao-madrid-feliz-verano/
/discografia/                                                          	/discos/
/en/									/
/de/									/
/politica-de-privacidad/						/privacidad/
/fotos/									/
/conciertos-pasados/							/conciertos/
/carteles-conciertos/							/conciertos/
