---
title: 404 - No encontrado
description: Esto es extraño, ¿cómo llegaste aquí? Esta página no existe.
layout: plain
permalink: "/404.html"
---

<div class="flex items-center justify-center w-full lg:min-h-0">
	<div
		class="
			flex flex-col
			lg:flex-row lg:space-x-16 lg:space-x-reverse
			justify-center
			items-center
		"
	>
		<div class="lg:w-1/2 px-2 text-sm md:text-base lg:px-0">
			<h1 class="standardtitel">Esta página (ya) no existe.</h1>

			<p class="standardtext mt-2">
				No hay nada más aquí. <br />Echa un vistazo a la
				<a href="/">página inicial</a>.
			</p>
		</div>

		<div class="lg:w-1/2 py-8">{%- include "shared/sitting.svg" %}</div>
	</div>
</div>
