---
title: 404
layout: home
permalink: 404.html
eleventyExcludeFromCollections: true
seo:
  title: "¡Ups!"
	description: La página que buscas no existe actualmente en mi web.
bgimg:
  url: 404.JPG
  alt: Alberto y su guitarra frente a una pared blanca
  width: 1537
  height: 1367
---

<div class="my-16 grid grid-cols-4 gap-4">
	<div
		class="col-start-2 col-end-5 bg-white sm:bg-transparent opacity-75 sm:opacity-100 p-4 sm:col-start-3 col-span-1 pr-4 lg:pr-10 max-w-md"
	>
		<h1 class="mb-4 text-3xl leading-8 font-rock text-gray-900 sm:text-4xl">
			¡Lo siento!
		</h1>
		<p class="prose prose-pink text-gray-900">
			La página que buscas no existe actualmente en mi web.
		</p>

		<p class="prose prose-pink">
			<a href="/">Aquí llegas a la página de inicio.</a>
		</p>
	</div>
</div>
