---
title: Discos
layout: home
seo:
  title: Archivo de todos los CDs de Alberto Ballesteros
  description: Archivo de todos mis CDs. Estoy grabando un nuevo álbum con mis amigos de siempre en el estudio El Escondite.
audioplayer: true
---

<div class="fade-in-bottom flex justify-end">
	<h1
		class="bg-gray-900 text-gray-50 sm:text-gray-900 sm:bg-teal-200 w-full sm:w-1/3 uppercase font-rock text-xl sm:text-4xl px-2 py-0.5"
	>
		Discos
	</h1>
</div>

<ul class="sm:hidden divide-y divide-white mt-10 text-xs font-bold uppercase">
	<li class="bg-teal-200">
		<a href="#fiesta" class="block no-underline pr-2 text-gray-900"
			><span class="inline-block py-2 px-2 mr-2 bg-teal-300 font-black"
				>2021</span
			>
			La Fiesta en Paz</a
		>
	</li>

	<li class="bg-teal-200">
		<a href="#jinete" class="block no-underline pr-2 text-gray-900"
			><span class="inline-block py-2 px-2 mr-2 bg-teal-300 font-black"
				>2018</span
			>
			La Canción del Jinete Eléctrico</a
		>
	</li>

	<li class="bg-teal-200">
		<a href="#mundo" class="block no-underline pr-2 text-gray-900"
			><span class="inline-block py-2 px-2 mr-2 bg-teal-300 font-black"
				>2015</span
			>
			El mundo encima</a
		>
	</li>

	<li class="bg-teal-200">
		<a href="#teatro" class="block no-underline pr-2 text-gray-900"
			><span class="inline-block py-2 px-2 mr-2 bg-teal-300 font-black"
				>2011
			</span>
			TEATRO CHINO</a
		>
	</li>

	<li class="bg-teal-200">
		<a href="#sheffield" class="block no-underline pr-2 text-gray-900"
			><span class="inline-block py-2 px-2 mr-2 bg-teal-300 font-black"
				>2009</span
			>
			SHEFFIELD 24/7</a
		>
	</li>
</ul>

{# neue cd #}

<div
	class="grid grid-cols-3 bg-gray-200 mt-20 lg:ml-10 xl:ml-20 items-start justify-center"
>
	<img
		src="/assets/images/book3.jpg"
		alt="Portada del discolibro La fiesta en paz"
		class="order-1 row-span-1 col-span-3 transform -translate-y-4 -rotate-3 w-2/3 shadow-md mx-4 [ sm:mx-0 sm:-rotate-3 sm:col-span-1 sm:translate-y-12 sm:w-40 sm:translate-x-4 ] [ md:translate-y-5 md:w-52 ][ lg:w-52 lg:-translate-x-8 ][ xl:w-80 xl:-translate-x-6 ][ 2xl:w-96 2xl:-translate-x-8 ]"
	/>

	<div
		class="order-2 row-span-1 col-span-3 sm:col-span-2 py-10 px-2 sm:px-10 transform sm:translate-x-1 [ lg:pr-20 lg:pl-4 ][ 2xl:pl-4 2xl:pr-32 ]"
	>
		<div class="flex flex-col 2xl:flex-row 2xl:items-start 2xl:justify-between">
			<div class="text-left flex 2xl:justify-center items-center">
				<p class="text-xs mr-2">Pronto disponible en:</p>

				<a
					aria-label="Enlace al shop"
					alt="Enlace al shop"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="/shop/"
				>
					{% svg "cart-black", "h-5 w-5", "Shopping cart", "disco" %}
				</a>

				<a
					aria-label="Enlace a Spotify"
					alt="Enlace a Spotify"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="https://open.spotify.com/artist/76cl8WncFJMLHHsekATDDC"
					target="_blank"
					rel="noopener"
				>
					{% svg "spotify-black", "h-5 w-5", "Spotify", "disco" %}
				</a>
			</div>
			<div class="text-right">
				<p
					class="text-base leading-6 text-gray-100 font-bold tracking-wider uppercase"
				>
					<span class="bg-gray-900 px-2">2021</span>
				</p>

				<h2
					id="fiesta"
					class="text-right mt-1 mb-10 text-3xl leading-8 font-rock uppercase text-gray-900 sm:text-4xl"
				>
					La fiesta en paz
				</h2>
			</div>
		</div>

		<div class="text-sm lg:text-base">
			<p>
				El álbum se va a llamar La Fiesta en Paz. Lo editaremos en forma de
				libro-disco. Pronto os cuento más cosas.
			</p>

			<p>
				Está formado por 9 canciones en las que vengo trabajando los últimos 4
				años. Son todas canciones prepandémicas, hablan de casi todo lo que no
				ha existido este último año. He retrasado a propósito la grabación y la
				publicación del álbum con el objetivo de que puedan ser canciones con
				las que disfrutar en cuanto toda esta mierda se acabe del todo.
			</p>

			<p class="text-xs border-t border-gray-400 pt-6 mt-6">
				Estoy grabando con mis amigos de siempre (mi Manu, mi Pedro, mi Javi...)
				en el estudio El Escondite bajo la producción de Kike Eizaguirre.
			</p>
		</div>
	</div>
	{#
	<div
		class="order-3 row-span-1 col-span-3 md:col-span-2 md:col-start-2 max-w-sm sm:mx-10 [ lg:ml-20 lg:mr-4 ][ 2xl:mr-4 2xl:ml-32 ]"
	>
		<div class="music-container" id="music-container">
			<div class="music-info">
				<h4 id="title"></h4>
				<div class="progress-container" id="progress-container">
					<div class="progress" id="progress"></div>
				</div>
			</div>

			<audio src="/assets/musica/mundo/01-nonosvan.mp3" id="audio"></audio>

			<div class="img-container">
				<img
					src="/assets/musica/mundo/mundo-galleta.jpg"
					alt="music-cover"
					id="cover"
				/>
			</div>
			<div class="navigation">
				<button id="prev" class="action-btn">
					<i class="fas fa-backward"></i>
				</button>
				<button id="play" class="action-btn action-btn-big">
					<i class="fas fa-play"></i>
				</button>
				<button id="next" class="action-btn">
					<i class="fas fa-forward"></i>
				</button>
			</div>
		</div>
	</div>
	#}

	<!-- Tracks used in this music/audio player application are free to use. I downloaded them from Soundcloud and NCS websites. I am not the owner of these tracks. -->
</div>

<!-- schema musicalbum -->

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MusicAlbum",
		"byArtist": {
			"@type": "Person",
			"name": "Alberto Ballesteros"
		},
		"albumProductionType": "studio album",
		"albumReleaseType": "album",
		"genre": "Rock",
		"image": "/assets/images/book3.jpg",
		"name": "La Fiesta en Paz",
		"numTracks": "9"
	}
</script>

{# neue cd #}

<div
	class="grid grid-cols-3 bg-gray-200 mt-24 lg:mr-10 xl:mr-20 items-start justify-center"
>
	<div
		class="order-2 sm:order-1 row-span-1 col-span-3 sm:col-span-2 py-10 px-2 sm:px-10 transform sm:translate-x-1 [ lg:pl-20 lg:pr-4 ][ 2xl:pr-4 2xl:pl-32 ]"
	>
		<div class="flex flex-col 2xl:flex-row 2xl:items-start 2xl:justify-between">
			<div class="text-left flex 2xl:justify-center items-center">
				<p class="text-xs mr-2">Disponible en:</p>

				<a
					aria-label="Enlace al shop"
					alt="Enlace al shop"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="/shop/"
				>
					{% svg "cart-black", "h-5 w-5", "Shopping cart", "disco" %}
				</a>

				<a
					aria-label="Enlace a Spotify"
					alt="Enlace a Spotify"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="https://open.spotify.com/album/2GModP6DLfsptc7oraUDy0"
					target="_blank"
					rel="noopener"
				>
					{% svg "spotify-black", "h-5 w-5", "Spotify", "disco" %}
				</a>
			</div>
			<div class="text-right">
				<p
					class="text-base leading-6 text-gray-100 font-bold tracking-wider uppercase"
				>
					<span class="bg-gray-900 px-2">2018</span>
				</p>

				<h2
					id="jinete"
					class="text-right mt-1 mb-10 text-3xl leading-8 font-rock uppercase text-gray-900 sm:text-4xl"
				>
					La Canción del Jinete Eléctrico
				</h2>
			</div>
		</div>

		<div class="text-sm lg:text-base">
			<p>
				La Canción del Jinete Eléctrico consta de 7 canciones todas ellas
				basadas o inspiradas en un poema titulado “Vida y leyenda del Jinete
				Eléctrico” (Visor 2013, Premio Jaime Gil de Biedma) de Joaquín Pérez
				Azaústre.
			</p>
			<p>
				Resulta que Joaquín es un gran poeta, pero además es un buen amigo. Este
				proyecto nace de ahí, de la amistad, sin ella de por medio no se
				entendería que me hubiera autorizado y animado a trastear con sus poemas
				hasta convertirlos en canciones.
			</p>

			<p class="text-xs border-t border-gray-400 pt-6 mt-6">
				Música: Alberto Ballesteros, Letras: Joaquín Pérez Azaústre y Alberto
				Ballesteros, Grabado y mezclado por Luis Mendo en el estudio Reloj,
				Mastering: Fran Gude, Producido por Alberto Ballesteros y Luis Mendo
			</p>
		</div>
	</div>

	<img
		src="/assets/images/discos/cd-jinete.jpg"
		alt="Portada del disco "
		class="order-1 sm:order-2 row-span-1 col-span-3 transform -translate-y-4 -rotate-3 w-2/3 shadow-md mx-4 [ sm:mx-0 sm:rotate-3 sm:col-span-1 sm:translate-y-12 sm:w-40 sm:-translate-x-4 ] [ md:-translate-y-5 md:w-52 ][ lg:w-52 lg:translate-x-8 ][ xl:w-80 xl:translate-x-6 ][ 2xl:w-96 2xl:translate-x-8 ]"
	/>
</div>

<!-- schema musicalbum -->

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MusicAlbum",
		"byArtist": {
			"@type": "Person",
			"name": "Alberto Ballesteros"
		},
		"albumProductionType": "studio album",
		"albumReleaseType": "album",
		"genre": "Rock",
		"image": "/assets/images/discos/cd-jinete.jpg",
		"name": "La Canción del Jinete Eléctrico",
		"numTracks": "7"
	}
</script>

{# neue cd #}

<div
	class="grid grid-cols-3 bg-gray-200 mt-16 lg:mr-10 xl:mr-20 items-start justify-center"
>
	<div
		class="order-2 sm:order-1 row-span-1 col-span-3 sm:col-span-2 py-10 px-2 sm:px-10 transform sm:translate-x-1 [ lg:pl-20 lg:pr-4 ][ 2xl:pr-4 2xl:pl-32 ]"
	>
		<div class="flex flex-col 2xl:flex-row 2xl:items-start 2xl:justify-between">
			<div class="text-left flex 2xl:justify-center items-center">
				<p class="text-xs mr-2">Disponible en:</p>

				<a
					aria-label="Enlace al shop"
					alt="Enlace al shop"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="/shop/"
				>
					{% svg "cart-black", "h-5 w-5", "Shopping cart", "disco" %}
				</a>

				<a
					aria-label="Enlace a Spotify"
					alt="Enlace a Spotify"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="https://open.spotify.com/album/19lbIpBXThEBp74RsdBy5D"
					target="_blank"
					rel="noopener"
				>
					{% svg "spotify-black", "h-5 w-5", "Spotify", "disco" %}
				</a>
			</div>
			<div class="text-right">
				<p
					class="text-base leading-6 text-gray-100 font-bold tracking-wider uppercase"
				>
					<span class="bg-gray-900 px-2">2015</span>
				</p>

				<h2
					id="mundo"
					class="text-right mt-1 mb-10 text-3xl leading-8 font-rock uppercase text-gray-900 sm:text-4xl"
				>
					El mundo encima
				</h2>
			</div>
		</div>

		<div class="text-sm lg:text-base">
			<p>
				Fue mi primer disco largo. Doce canciones, muchas de ellas escritas en
				Berlín donde estuve viviendo un par de años. Le tengo un cariño tremendo
				a este disco y a estas canciones.
			</p>

			<p>
				Muchas de estas siguen estando muy presentes en el repertorio de
				nuestros conciertos.
			</p>

			<p>
				El Mundo Encima fue posible gracias a una campaña de crowfunding que fue
				un éxito gracias a la confianza, generosidad y amor que nos tiene la
				gente que nos sigue.
			</p>

			<p class="text-xs border-t border-gray-400 pt-6 mt-6">
				Producido y grabado por Héctor Tuya en el estudio Bailén37, Luanco.
			</p>
		</div>
	</div>

	<img
		src="/assets/images/discos/cd-mundo.jpg"
		alt="Portada del disco "
		class="order-1 sm:order-2 row-span-1 col-span-3 transform -translate-y-4 -rotate-3 w-2/3 shadow-md mx-4 [ sm:mx-0 sm:rotate-3 sm:col-span-1 sm:translate-y-12 sm:w-40 sm:-translate-x-4 ] [ md:-translate-y-5 md:w-52 ][ lg:w-52 lg:translate-x-8 ][ xl:w-80 xl:translate-x-6 ][ 2xl:w-96 2xl:translate-x-8 ]"
	/>
</div>

<!-- schema musicalbum -->

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MusicAlbum",
		"byArtist": {
			"@type": "Person",
			"name": "Alberto Ballesteros"
		},
		"albumProductionType": "studio album",
		"albumReleaseType": "album",
		"genre": "Rock",
		"image": "/assets/images/discos/cd-mundo.jpg",
		"name": "El mundo encima",
		"numTracks": "12"
	}
</script>

{# neue cd #}

<div
	class="grid grid-cols-3 bg-gray-200 mt-16 lg:mr-10 xl:mr-20 items-start justify-center"
>
	<div
		class="order-2 sm:order-1 row-span-1 col-span-3 sm:col-span-2 py-10 px-2 sm:px-10 transform sm:translate-x-1 [ lg:pl-20 lg:pr-4 ][ 2xl:pr-4 2xl:pl-32 ]"
	>
		<div class="flex flex-col 2xl:flex-row 2xl:items-start 2xl:justify-between">
			<div class="text-left flex 2xl:justify-center items-center">
				<p class="text-xs mr-2">Disponible en:</p>

				<a
					aria-label="Enlace al shop"
					alt="Enlace al shop"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900 hover:text-pink-400"
					href="/shop/"
				>
					{% svg "cart-black", "h-5 w-5", "Shopping cart", "disco" %}
				</a>
				<a
					aria-label="Enlace a bandcamp"
					alt="Enlace a bandcamp"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900"
					href="https://albertoballesteros.bandcamp.com/album/teatro-chino"
					target="_blank"
					rel="noopener noreferrer"
				>
					{% svg "bandcamp", "h-5 w-5", "Bandcamp", "disco" %}
				</a>
			</div>
			<div class="text-right">
				<p
					class="text-base leading-6 text-gray-100 font-bold tracking-wider uppercase"
				>
					<span class="bg-gray-900 px-2">2011</span>
				</p>

				<h2
					id="teatro"
					class="text-right mt-1 mb-10 text-3xl leading-8 font-rock uppercase text-gray-900 sm:text-4xl"
				>
					Teatro Chino
				</h2>
			</div>
		</div>

		<div class="text-sm lg:text-base">
			<p>
				EP de 6 canciones, el rollo es así un poco folkie, está grabado en
				acústico, sin batería ni nada. Está trabajado con mucho cariño y tiene
				toda la esencia de lo que era mi vida de entonces. Yo lo escucho ahora y
				no me gusta como cantaba, pero eso es cosa mía y es normal, creo.
			</p>

			<p class="text-xs border-t border-gray-400 pt-6 mt-6">
				Producido y grabado por Héctor Tuya en el estudio Bailén37, Madrid.
			</p>
		</div>
	</div>

	<img
		src="/assets/images/discos/cd-teatro.jpg"
		alt="Portada del disco "
		class="order-1 sm:order-2 row-span-1 col-span-3 transform -translate-y-4 -rotate-3 w-2/3 shadow-md mx-4 [ sm:mx-0 sm:rotate-3 sm:col-span-1 sm:translate-y-12 sm:w-40 sm:-translate-x-4 ] [ md:-translate-y-5 md:w-52 ][ lg:w-52 lg:translate-x-8 ][ xl:w-80 xl:translate-x-6 ][ 2xl:w-96 2xl:translate-x-8 ]"
	/>
</div>

<!-- schema musicalbum -->

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MusicAlbum",
		"byArtist": {
			"@type": "Person",
			"name": "Alberto Ballesteros"
		},
		"albumReleaseType": "EP",
		"genre": "Rock",
		"image": "/assets/images/discos/cd-teatro.jpg",
		"name": "	Teatro Chino",
		"numTracks": "6"
	}
</script>

{# neue cd #}

<div
	class="grid grid-cols-3 bg-gray-200 mt-16 lg:mr-10 xl:mr-20 items-start justify-center"
>
	<div
		class="order-2 sm:order-1 row-span-1 col-span-3 sm:col-span-2 py-10 px-2 sm:px-10 transform sm:translate-x-1 [ lg:pl-20 lg:pr-4 ][ 2xl:pr-4 2xl:pl-32 ]"
	>
		<div class="flex flex-col 2xl:flex-row 2xl:items-start 2xl:justify-between">
			<div class="text-left flex 2xl:justify-center items-center">
				<p class="text-xs mr-2">Disponible en:</p>

				<a
					aria-label="Enlace a bandcamp"
					alt="Enlace a bandcamp"
					class="px-1 transition duration-100 ease-in-out transform hover:scale-105 text-gray-900"
					href="https://albertoballesteros.bandcamp.com/album/sheffield-24-7"
					target="_blank"
					rel="noopener noreferrer"
				>
					{% svg "bandcamp", "h-5 w-5", "Bandcamp", "disco" %}
				</a>
			</div>
			<div class="text-right">
				<p
					class="text-base leading-6 text-gray-100 font-bold tracking-wider uppercase"
				>
					<span class="bg-gray-900 px-2">2009</span>
				</p>

				<h2
					id="sheffield"
					class="text-right mt-1 mb-10 text-3xl leading-8 font-rock uppercase text-gray-900 sm:text-4xl"
				>
					Sheffield 24/7
				</h2>
			</div>
		</div>

		<div class="text-sm lg:text-base">
			<p>
				Mi primer EP, toda una experiencia vital y musical. Escrito y grabado en
				Sheffield donde estuve viviendo una época increíble. Una vez grabé el EP
				volví a Madrid para arrancar mi proyecto como cantautor.
			</p>

			<p class="text-xs border-t border-gray-400 pt-6 mt-6">
				Grabada en en los estudios Red Cloud Sheffield, bajo la producción de
				Brett Womersley.
			</p>
		</div>
	</div>

	<img
		src="/assets/images/discos/cd-sheffield.jpg"
		alt="Portada del disco "
		class="order-1 sm:order-2 row-span-1 col-span-3 transform -translate-y-4 -rotate-3 w-2/3 shadow-md mx-4 [ sm:mx-0 sm:rotate-3 sm:col-span-1 sm:translate-y-12 sm:w-40 sm:-translate-x-4 ] [ md:-translate-y-5 md:w-52 ][ lg:w-52 lg:translate-x-8 ][ xl:w-80 xl:translate-x-6 ][ 2xl:w-96 2xl:translate-x-8 ]"
	/>
</div>

<!-- schema musicalbum -->

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MusicAlbum",
		"byArtist": {
			"@type": "Person",
			"name": "Alberto Ballesteros"
		},
		"albumReleaseType": "EP",
		"genre": "Folk/Rock",
		"image": "/assets/images/discos/cd-sheffield.jpg",
		"name": "Sheffield 24/7",
		"numTracks": "4"
	}
</script>
