---
title: Home
layout: home
seo:
  title: Home
  description: Soy Alberto Ballesteros, un escritor e intérprete de canciones en castellano. Estamos grabando un nuevo álbum. Para antes de verano 2021 estará listo.
	image: default.png
heroimg:
  url: start.JPG
  alt: teatro
  width: 835
  height: 714
---

<div
	class="
		flex flex-col
		lg:flex-row
		items-center
		justify-center
		sm:items-start
		sm:justify-start
		lg:items-end
	"
></div>
