{% if partners %}
  <div class="px-3 pt-12 bg-white lg:px-16">
    <h2 class="p-2 text-base font-bold">{{ meta[locale].event.thanks }}:</h2>

    <div class="relative mx-auto">
      <div
        class="grid grid-cols-2 content-center gap-0.5 md:grid-cols-7 bordert-t border-gray-200"
      >
        <!-- get current locale from meta.languages -->
        {% for partner in partners %}
          <figure class="flex items-center">
            <a
              ref="nofollow"
              target="_blank"
              href="{{ partnerarchiv[partner].url }}"
              class="flex justify-center col-span-1 px-2 py-6 buttonhover hover-luminance-105"
            >
              {% if partnerarchiv[partner].logo %}
          {%
            Picture partnerarchiv[partner].logo, "bg-transparent", "lazy max-h-16 object-cover",
            partnerarchiv[partner].name, "lazy"
          %}
              {% else %}
          <span class="font-medium text-center">{{ partnerarchiv[partner].name }}</span>
              {% endif %}
            </a>
          </figure>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}
