{% if partners %}
  <div class="lg:px-8 xl:px-20 py-8 bg-white lg:py-10">
    <h2 class="px-4 text-base font-bold">{{ meta[locale].event.thanks }}:</h2>

    <div class="relative mx-auto">
      <div class="grid grid-cols-2 content-center gap-8 md:grid-cols-7 bordert-t border-gray-200">
        <!-- get current locale from meta.languages -->
        {% for partner in partners %}
          {% if partner is string %}
            {% set partnerKey = partner %}
            {% set partnerCaption = null %}
          {% else %}
            {% set partnerKey = partner.id %}
            {% set partnerCaption = partner.caption %}
          {% endif %}
          <figure class="flex flex-col items-center">
            <a
              ref="nofollow"
              target="_blank"
              href="{{ partnerarchiv[partnerKey].url }}"
              class="flex justify-center col-span-1 py-4 buttonhover hover-luminance-105"
            >
              {% if partnerarchiv[partnerKey].logo %}
                {%
                  Picture partnerarchiv[partnerKey].logo, "bg-transparent", "lazy max-h-16 object-cover",
                  partnerarchiv[partnerKey].name, "lazy"
                %}
              {% else %}
                <span class="font-medium text-center">{{ partnerarchiv[partnerKey].name }}</span>
              {% endif %}
            </a>
            {% if partnerCaption %}
              <figcaption class="px-1 -mt-2 text-[10px] text-center text-gray-600 uppercase font-semibold">
                {{ partnerCaption }}
              </figcaption>
            {% endif %}
          </figure>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endif %}
