<form
	action="https://fundaciongoethe.us13.list-manage.com/subscribe/post?u=398a03a81c0a1f725eec3959d&amp;id=315d31d17d"
	method="POST"
	id="mc-embedded-subscribe-form"
	name="mc-embedded-subscribe-form"
	class="validate"
	target="_blank"
	novalidate
>
	<div class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<h2 class="text-lg leading-6 font-semibold">{{ form.label1.title }}</h2>
				<p class="mt-3 text-xs sm:text-sm leading-normal text-gray-700">
					{{ form.label1.text }}
				</p>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow overflow-hidden sm:rounded-md">
					<div class="px-4 py-5 bg-white sm:p-6">
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-6 sm:col-span-3">
								<label for="mce-FNAME" class="block text-sm text-gray-900">{{
									meta[locale].contact.firstname
								}}</label>
								<input
									type="text"
									name="FNAME"
									id="mce-FNAME"
									autocomplete="given-name"
									class="
										mt-1
										focus:ring-yellow-400
										focus:border-yellow-400
										block
										w-full
										shadow-sm
										sm:text-sm
										border-gray-300
										rounded-md
									"
								/>
							</div>

							<div class="col-span-6 sm:col-span-3">
								<label for="mce-LNAME" class="block text-sm text-gray-900">{{
									meta[locale].contact.lastname
								}}</label>
								<input
									type="text"
									name="LNAME"
									id="mce-LNAME"
									autocomplete="family-name"
									class="
										mt-1
										focus:ring-yellow-400
										focus:border-yellow-400
										block
										w-full
										shadow-sm
										sm:text-sm
										border-gray-300
										rounded-md
									"
								/>
							</div>

							<div class="col-span-6">
								<div class="flex justify-between">
									<label for="email" class="block text-sm text-gray-900">
										{{ meta[locale].contact.email }}
									</label>
									<span id="email_description" class="text-sm text-red-500">{{
										meta[locale].contact.required
									}}</span>
								</div>

								<input
									type="text"
									name="EMAIL"
									id="mce-EMAIL"
									autocomplete="email"
									required="required"
									class="
										mt-1
										focus:ring-yellow-400
										focus:border-yellow-400
										block
										w-full
										shadow-sm
										sm:text-sm
										border-gray-300
										rounded-md
									"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden sm:block" aria-hidden="true">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<h2 class="text-lg leading-6 font-semibold">{{ form.label2.title }}</h2>
				<p class="mt-3 text-xs sm:text-sm leading-normal text-gray-700">
					{{ form.label2.text }}
				</p>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow overflow-hidden sm:rounded-md">
					<div class="sm:flex bg-white">
						<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
							<fieldset>
								<legend class="text-base text-gray-900">
									{{ meta[locale].newsletter.language }}
								</legend>
								<div class="mt-4 space-y-4">
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14385]-14385-1"
												name="group[14385][2]"
												value="2"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14385]-14385-1"
												class="text-gray-900"
											>
												{{ meta[locale].newsletter.german }}</label
											>
										</div>
									</div>
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14385]-14385-0"
												name="group[14385][1]"
												value="1"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14385]-14385-0"
												class="text-gray-900"
											>
												{{ meta[locale].newsletter.spanish }}</label
											>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
							<fieldset>
								<legend class="text-base text-gray-900">
									{{ meta[locale].newsletter.venues }}
								</legend>
								<div class="mt-4 space-y-4">
									<!-- Madrid -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-0"
												name="group[14389][4]"
												value="4"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-0"
												class="text-gray-900"
												>Madrid</label
											>
										</div>
									</div>

									<!-- Barcelona -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-1"
												name="group[14389][8]"
												value="8"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-900
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-1"
												class="text-gray-900"
												>Barcelona</label
											>
										</div>
									</div>

									<!-- Málaga -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-2"
												name="group[14389][16]"
												value="16"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-2"
												class="text-gray-900"
												>Málaga</label
											>
										</div>
									</div>

									<!-- Valencia -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-3"
												name="group[14389][32]"
												value="32"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-3"
												class="text-gray-900"
												>Valencia</label
											>
										</div>
									</div>

									<!-- Bilbao -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-4"
												name="group[14389][64]"
												value="64"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-4"
												class="text-gray-900"
												>Bilbao</label
											>
										</div>
									</div>

									<!-- todas -->
									<div class="flex items-start">
										<div class="flex items-center h-5">
											<input
												id="mce-group[14389]-14389-5"
												name="group[14389][128]"
												value="128"
												type="checkbox"
												class="
													focus:ring-yellow-400
													h-4
													w-4
													text-gray-700
													border-gray-300
													rounded
												"
											/>
										</div>
										<div class="ml-3 text-sm">
											<label
												for="mce-group[14389]-14389-5"
												class="text-gray-900"
											>
												{{ meta[locale].newsletter.allInvitations }}</label
											>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hidden sm:block" aria-hidden="true">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<h2 class="text-lg leading-6 font-semibold">{{ form.label3.title }}</h2>
				<p class="mt-3 text-xs sm:text-sm leading-normal text-gray-700">
					{{ form.label3.text }}
				</p>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow overflow-hidden sm:rounded-md">
					<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
						<div class="flex items-start">
							<input
								id="mce-group[14393]-14393-0"
								name="group[14393][256]"
								value="256"
								type="checkbox"
								class="
									focus:ring-yellow-400
									h-4
									w-4
									text-gray-700
									border-gray-300
									rounded
								"
							/>

							<div class="flex justify-between">
								<label
									for="mce-group[14393]-14393-0"
									class="ml-3 block text-sm text-gray-900 leading-relaxed"
								>
									{{ meta[locale].newsletter.datos }}
								</label>
								<span id="rgpd_description" class="text-sm text-red-500">{{
									meta[locale].contact.required
								}}</span>
							</div>
						</div>
					</div>
					<div class="px-4 py-3 text-right sm:px-6">
						<button
							type="submit"
							class="
								buttonhover
								inline-flex
								justify-center
								py-2
								px-4
								border border-transparent
								shadow-sm
								text-sm
								rounded-md
								text-white
								bg-red-600
								hover:bg-black
							"
						>
							{{ meta[locale].contact.send }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
