<!-- website -->
{% if links.web %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.web }} "
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "world", "mr-2 h-5 w-5 flex-shrink-0", "flecha" %}
	<span class="ml-3">{{ links.web | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- website alt -->
{% if links.web2 %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.web2 }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "world", "mr-2 h-5 w-5 flex-shrink-0", "flecha" %}
	<span class="ml-3">{{ links.web2 | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- twitter -->
{% if links.twitter %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.twitter }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "twitter", "mr-2 h-5 w-5 flex-shrink-0", "flecha" %}
	<span class="ml-3">{{ links.twitter | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- facebook -->
{% if links.facebook %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.facebook }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "facebook", "mr-2 h-5 w-5 flex-shrink-0", "flecha" %}
	<span class="ml-3"> {{ links.facebook | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- instagram -->
{% if links.instagram %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.instagram }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "instagram", "mr-2 h-5 w-5 flex-shrink-0 ", "flecha" %}
	<span class="ml-3"> {{ links.instagram | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- youtube -->
{% if links.youtube %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.youtube }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "youtube", "mr-2 h-5 w-5 flex-shrink-0", "youtube" %}
	<span class="ml-3">{{ links.youtube | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- spotify -->
{% if links.spotify %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.spotify }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "spotify-black", "mr-2 h-5 w-5 flex-shrink-0", "spotify" %}
	<span class="ml-3">{{ links.spotify | replace("https://", "") }}</span>
</a>
{% endif %}

<!-- linkedin -->
{% if links.linkedin %}
<a
	target="_blank"
	rel="noopener"
	href="{{ links.linkedin }}"
	class="flex items-left justify-left py-1 text-sm text-gray-700"
>
	{% svg "linkedin", "mr-2 h-5 w-5 flex-shrink-0", "linkedin" %}
	<span class="ml-3"> {{ links.linkedin | replace("https://", "") }}</span>
</a>
{% endif %}
